{
  overrides:
    [
      {
        files: ["*.html"],
        options:
          {
            parser: "go-template",
            bracketSameLine: true,
            htmlWhitespaceSensitivity: "ignore",
            plugins: [require.resolve('prettier-plugin-go-template')],
          },
      },
    ],
}
