{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "htmlWhitespaceSensitivity": "ignore",
        "plugins": ["prettier-plugin-go-template"]
      }
    }
  ]
}
