:root {
  --colour-community: #b02025;
  --colour-accounts: #ff4404;
  --colour-product: #2384fa;
  --colour-dev: #66a9f7;
  --colour-event: #ffd50a;
  --colour-nominator: #8636ff;
  --colour-scorewatcher: #d06ae7;
  --colour-supporter: #5fd5eb;
  --colour-premium: #fff176;
}

[hidden] {
  display: none !important;
}

.nowrap {
  white-space: nowrap !important;
}

.psmaller-text {
  font-size: 14px;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
}

.profile-heading-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  height: 250px;
  background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
    var(--user-bg);
}

.profile-heading-solid {
  position: relative;
  background-size: cover;
  background-position: 50%;
  height: 250px;
  background-color: var(--user-bg, rgb(5, 5, 5));
}

.profile-heading-customisation {
  position: absolute;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
}

.avatar-column {
  padding-right: 0 !important;
}

.label-icon {
  margin-top: 4px;
}

.radius-top-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.radius-top {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.profile-info {
  position: relative;
  padding: 12px;
  margin-top: 30px;
  font-size: 14px;
}

.profile-avatar {
  border-radius: 15px;
  object-fit: cover;
  height: 110px;
  width: 110px;
  margin-top: 5px;
  box-shadow: 0 2px 10px #000;
}

.profile-username {
  white-space: nowrap;
  font-weight: 700;
  color: #f9f9f9;
  text-shadow: 0 2px 10px #000;
  font-size: 28pt;
  margin-bottom: 0;
}

.profile-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.profile-country {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.profile-country-name {
  font-size: 14px;
  font-weight: 400;
  color: #f9f9f9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-smaller-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.profile-badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.profile-rank-container {
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  font-size: 20px;
  padding: 11px;
  background: #292929e3;
  border-radius: 5px;
  margin-bottom: 4px;
  float: right;
  margin-top: 40%;
}

.ranks-column {
  width: 23% !important;
}

.profile-rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.profile-rank-flag {
  width: 20px;
}

@media screen and (max-width: 1199px) {
  .ranks-column {
    width: 20% !important;
  }
  .profile-rank-container {
    margin-top: 60%;
  }
}

@media screen and (max-width: 991px) {
  .ranks-column {
    width: 15% !important;
  }
  .profile-rank-container {
    margin-top: 120%;
  }
}

@media screen and (max-width: 499px) {
  .profile-badges:has(.badge) {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, 35px);
  }

  .profile-info {
    margin-top: 20px;
  }
}

.online-status {
  width: auto !important;
  display: flex;
}

.label-full {
  display: none;
}

.label-mobile {
  display: flex;
}

.profile-label {
  padding: 0px 7px;
  font-weight: 900;
  background: #000000b8;
  border-radius: 6px;
  font-size: 12px;
  box-shadow: 0 1px 5px #000;
}

.label-community {
  color: var(--colour-community);
}

.label-accounts {
  color: var(--colour-accounts);
}

.label-product {
  color: var(--colour-product);
}

.label-dev {
  color: var(--colour-dev);
}

.label-event {
  color: var(--colour-event);
}

.label-nominator {
  color: var(--colour-nominator);
}

.label-scorewatcher {
  color: var(--colour-scorewatcher);
}

.label-supporter {
  color: var(--colour-supporter);
}

.label-premium {
  color: var(--colour-premium);
}

.action-button {
  font-size: 0.6em !important;
}

@media only screen and (min-width: 767px) {
  .profile-avatar {
    height: 140px;
    width: 140px;
  }

  .label-mobile {
    display: none;
  }

  .label-full {
    display: flex;
  }

  .profile-info {
    padding: 20px;
    font-size: 16px;
  }

  .profile-country-name {
    font-size: 16px;
  }

  .label-icon {
    margin-left: 5px;
    margin-top: 4px;
  }

  .action-button {
    font-size: 10px !important;
  }

  .psmaller-text {
    font-size: 15px;
  }
}

.user-profile {
  margin-bottom: 22px;
  transition: 0.3s ease;
}

#messages-container {
  margin: 0;
}

@media (max-width: 767px) {
  .flex {
    justify-content: center;
  }
  .user-profile {
    margin-bottom: 0px;
  }
  #user-rank {
    display: none;
  }
  #user-info {
    width: 100% !important;
  }

  .profile-rank-container {
    position: static;
    font-size: 14px;
    gap: 4px;
    padding: 6px;
  }
}

.bar-selection {
  width: 100%;
  display: flex;
  align-items: center;
}

.bar.margin {
  margin: 0rem 0rem 1rem 0rem;
}

.simple-banner-swtich {
  color: #fff !important;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  margin: 0 24px 0 0;
  font-weight: 425;
  opacity: 0.7;
}

.simple-banner-swtich.active {
  font-weight: 700 !important;
  opacity: 1 !important;
  pointer-events: none;
}

.simple-banner-swtich:hover {
  transform: translateY(-2px);
}

.select-left {
  display: flex;
  flex-direction: row;
}

.select-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.ui.segment.margin {
  margin-bottom: 12px !important;
}

.ui.segment.margin:last-child {
  margin-bottom: 0 !important;
}

.simple-banner-swtich:last-child {
  margin-right: 0;
}

.username {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: flex-end;
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.top-side {
  margin-bottom: 20px;
}

.pflag {
  width: 28px;
}

.sui {
  padding: 0 !important;
}

.sui .header-top {
  padding: 16px;
  background: #292929;
}

.scores {
  background: content-box;
  transition: 0.2s transform ease;
}

.map-single {
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  margin: 8px 0;
  justify-content: space-between;
  overflow: hidden;
  background: hsl(var(--base), 0%, 15%);
  transition: 0.1s ease;
  cursor: pointer;
}

.map-data {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
}

.map-single:hover {
  transform: scale(1.01);
  background: hsl(var(--base), 0%, 16%);
}

.map-single:first-child {
  margin-top: 0;
}

.map-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-width: 0;
  flex: 1;
}

.map-title {
  font-size: 14px;
  display: flow-root;
  font-weight: 500;
  align-items: center;
  white-space: normal;
}

.map-title-block {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 12px;
  min-width: 0;
  padding-right: 12px;
  flex: 2;
}

.map-date {
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.map-date > time {
  margin-top: 2px;
}

.map-content2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  align-items: flex-end;
  justify-content: center;
}

.map-pp {
  font-weight: 700;
  color: hsl(var(--base), 30%, 65%);
  font-size: 20px;
}

.map-acc {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.map-image {
  width: 93px;
  height: 75px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-grade {
  font-size: 36px;
  font-weight: 700;
}

.complete-0 {
  background: hsl(0, 15%, 15%);
}

.beatmap-link {
  color: #fff;
}

.score-details_right-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  min-width: 140px;
  justify-content: center;
  padding-right: 18px;
  padding-left: 20px;
  position: relative;
  border-radius: 0 10px 10px 0;
  z-index: 0;
  margin-left: 6px;
  align-items: center;
  gap: 12px;
}

.score-details_pp-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
  position: relative;
  border-radius: 0 10px 10px 0;
  z-index: 0;
  margin-left: 6px;
}

.score-details {
  height: 100%;
  align-items: flex-end;
}

.score-data {
  padding: 8px 12px;
  background: #222121;
}

.achivement-data {
  padding: 18px 22px !important;
}

.beatmap-link {
  width: 400px;
  overflow: hidden;
}

.extra-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-button {
  padding: 6px 22px;
  background: hsl(var(--base), 0%, 16%);
  color: white;
  margin: 0px 8px 8px 8px;
  cursor: pointer;
}

.show-button:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  .subtitle {
    width: 200px;
  }
}

#user-scores {
  transition: 0.2s ease;
}

.show-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.vark-info-grid {
  width: 29.25% !important;
}

.vark-list-grid {
  width: 70.75% !important;
}

.badge {
  padding: 3px 11px;
  background: #292929e3;
  border-radius: 5px;
  margin-bottom: 4px;
}

.center-side {
  display: flex;
  gap: 6px;
}

.m-less {
  margin: 0px !important;
}

@media only screen and (max-width: 992px) {
  .vark-info-grid {
    width: 100% !important;
  }
  .vark-list-grid {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .bar-selection {
    display: block;
  }

  .select-left {
    justify-content: center;
    margin-top: 3px;
  }

  .select-right {
    justify-content: center;
    margin-top: 18px;
  }
}

.new-flag-margin {
  margin-bottom: -0.3em !important;
}

.modified-menu {
  left: 1 !important; /* Just so we can disable it */
  right: 0 !important;
}

.avatar-container {
  margin-bottom: 1.5em !important;
}

@media only screen and (max-width: 700px) {
  .map-single {
    display: block;
  }

  .map-data {
    display: block;
  }

  .map-image {
    width: 100%;
    background-size: cover;
  }

  .map-title-block {
    padding: 1.2rem 0px 0px 0px;
  }

  .map-content2 {
    padding: 0px 0px 1.2rem 0px;
  }

  .map-grade {
    font-size: 3rem;
  }

  .map-padding {
    padding-bottom: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .avatar-container {
    margin-bottom: -1.2em !important;
  }

  .flex {
    justify-content: left;
    margin-left: 0.7em;
  }

  .flex2 {
    margin-left: -0.7em;
  }
}
