{{ define "tpl" }}
  <div class="ui container">
    <div class="ui segment">
      <h1 class="ui heading">
        {{ .T "Connecting to Akatsuki's servers" | html }}
      </h1>
      <h3 class="ui heading">
        {{ .T "To switch to akatsuki, you must run your osu with the -devserver command line argument." }}
        <br />
        {{ .T "The simplest way to do this is probably with a shortcut:" }}
      </h3>
      <ol class="ui list">
        <li>
          <a href="/static/images/connection/conn_1.png">
            {{ .T "Create a shortcut of osu!.exe." }}
          </a>
        </li>
        <li>
          <a href="/static/images/connection/conn_2.png">
            {{ .T "Edit the shortcut's properties." }}
          </a>
        </li>
        <li>
          <a href="/static/images/connection/conn_3.png">
            {{ .T "Add ` -devserver akatsuki.gg` to the Target path (the space matters)." }}
          </a>
        </li>
        <li>
          {{ .T "Run the new shortcut to launch Akatsuki - no need to use anything like a switcher, and you can rename it whatever you'd like." }}
        </li>
      </ol>
      <p>
        {{ .T "If you have any problems connecting, feel free to join our <a href='/discord'>Discord server</a> and move to the #help channel.<br>Please provide as much information as you can in your message!" | html }}
      </p>
    </div>
  </div>
{{ end }}
