{{/* prettier-ignore-start */}}
{{/*###
Handler=/clans
TitleBar=Clans
BannerContent=team2.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <div class="ui container akat-box">
    <link rel="stylesheet" href="{{ asset "/static/css/pages/clanboard.min.css" }}" />

    {{ $favMode := 0.0 }}
    {{ if .Context.User.ID }}
      {{ $favModeRaw := .Get "users/self/favourite_mode" }}
      {{ $favMode = _or (atoi
        (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0)
      }}
    {{ end }}
    {{ $relax := _or (atoi (.Gin.Query "rx")) (float 0) }}
    {{ $sort := or
      (.Gin.Query "sort") "1s"
    }}

  <script>
    var favouriteMode = "{{ $favMode }}";
    var rx = '{{ $relax }}';
    var page = '{{ .Gin.Query "p" | atoint | atLeastOne }}';
    var sort = "{{ $sort }}";
  </script>

    <div class="ui grid stackable">
      <div class="eleven wide column">
        <div class="ui four item menu" id="mode-menu">
          {{ range $k, $v := modes }}
            <a
              class="{{ favMode $favMode $k }}item"
              data-mode="{{ $k }}"
              href="/clans?mode={{ $k }}">
              {{ $v }}
            </a>
          {{ end }}
        </div>
      </div>
      <div class="five wide column">
        <div class="ui three item menu" id="rx-menu">
          <a class="0 item" data-rx="0" href="/clans?rx=0">Regular</a>
          <a class="1 item" data-rx="1" href="/clans?rx=1">Relax</a>
          <a class="2 item" data-rx="2" href="/clans?rx=2">Autopilot</a>
        </div>
      </div>
    </div>

    <div class="ui two item menu" id="sort-menu">
      <a class="0 item" data-sort="1s" href="/clans?sort=1s">#1 Rankings</a>
      <a class="1 item" data-sort="pp" href="/clans?sort=pp">
        Performance Rankings
      </a>
    </div>

    <table class="ui table clan-table">
      <thead>
        {{ if eq $sort "1s" }}
          {{ template "simplepag" 3 }}
        {{ else }}
          {{ template
            "simplepag" 5
          }}
        {{ end }}
        <tr>
          <th class="one wide l-head"></th>
          <th class="eleven wide l-head"></th>
          {{ if eq $sort "1s" }}
            <th class="two wide l-head center aligned">{{ .T "#1 Count" }}</th>
          {{ else }}
            <th class="four wide l-head center aligned">Performance (Score)</th>
            <th class="three wide l-head center aligned">
              {{ .T "Accuracy" }}
            </th>
            <th class="three wide l-head right aligned">
              {{ .T "Playcount" }}
            </th>
          {{ end }}
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        {{ if eq $sort "1s" }}
          {{ template "simplepag" 3 }}
        {{ else }}
          {{ template
            "simplepag" 5
          }}
        {{ end }}
      </tfoot>
    </table>
  </div>
  <script>
    $(document).ready(function () {
      page = 0 === page ? 1 : page;

      function buildClanPPItem(v, idx) {
        return $("<tr class='l-clan' />").append(
          $("<td />").text("#" + (50 * (page - 1) + idx)),
          $("<td />").html(
            "<a href='/c/" +
              v.id +
              "?mode=" +
              favouriteMode +
              "&rx=" +
              rx +
              "' title='View clan'>" +
              // TODO: uncomment it once we have the tag in the API response
              // escapeHTML(`[${v.tag}] ${v.name}`) +
              escapeHTML(v.name) +
              "</a>"
          ),
          $("<td class='center aligned' />").html(
            scoreOrPP(v.chosen_mode.ranked_score, v.chosen_mode.pp)
          ),
          $("<td class='center aligned' />").text(
            v.chosen_mode.accuracy.toFixed(2) + "%"
          ),
          $("<td class='center aligned' />").html(
            addCommas(v.chosen_mode.playcount)
          )
        );
      }

      function buildClan1sItem(v, idx) {
        return $("<tr class='l-clan' />").append(
          $("<td />").text("#" + (50 * (page - 1) + idx)),
          $("<td />").html(
            "<a href='/c/" +
              v.clan +
              "?mode=" +
              favouriteMode +
              "&rx=" +
              rx +
              "' title='View clan'>" +
              escapeHTML(`[${v.tag}] ${v.name}`) +
              "</a>"
          ),
          $("<td class='center aligned' />").html(addCommas(v.count))
        );
      }

      function loadClanLeaderboard() {
        var wl = window.location;
        window.history.replaceState(
          "",
          document.title,
          wl.pathname +
            "?mode=" +
            favouriteMode +
            "&p=" +
            page +
            "&rx=" +
            rx +
            "&sort=" +
            sort +
            wl.hash
        );

        apiRoute = sort == "1s" ? "first" : "all";

        api(
          `clans/stats/${apiRoute}`,
          {
            m: favouriteMode,
            p: page,
            l: 50,
            rx: rx,
          },
          function (data) {
            var tb = $(".ui.table tbody");
            tb.find("tr").remove();
            if (data.clans == null) {
              disableSimplepagButtons(true);
              data.clans = [];
            }

            var i = 0;
            data.clans.forEach(function (v) {
              i++; // cursed
              if (sort == "1s") {
                clanItem = buildClan1sItem(v, i);
              } else {
                clanItem = buildClanPPItem(v, i);
              }

              tb.append(clanItem);
            });
            disableSimplepagButtons(data.clans.length < 50);
          }
        );
      }

      function scoreOrPP(s, pp) {
        if (pp === 0) {
          return "<b>" + addCommas(s) + "</b>";
        }

        return "<b>" + addCommas(pp) + "pp</b> (" + addCommas(s) + ")";
      }

      $("#rx-menu ." + rx + ".item").addClass("active");
      $("#sort-menu ." + ("1s" === sort ? 0 : 1) + ".item").addClass("active");
      toggleModeAvailability(favouriteMode, rx);

      loadClanLeaderboard();
      setupSimplepag(loadClanLeaderboard);

      $("#mode-menu .item").on("click", function (e) {
        e.preventDefault();
        $("#mode-menu .active.item").removeClass("active");
        $(this).addClass("active");
        favouriteMode = $(this).data("mode");
        page = 1;
        toggleModeAvailability(favouriteMode, rx);
        loadClanLeaderboard();
      });

      $("#rx-menu .item").on("click", function (e) {
        e.preventDefault();
        $("#rx-menu .active.item").removeClass("active");
        $(this).addClass("active");
        rx = $(this).data("rx");
        page = 1;
        toggleModeAvailability(favouriteMode, rx);
        loadClanLeaderboard();
      });
    });
  </script>
{{ end }}
