{{/* prettier-ignore-start */}}
{{/*###
NoCompile=true
*/}}
{{/* prettier-ignore-end */}}
{{ define "clanMember" }}
  {{ if . }}
    <div class="column">
      <a class="player" href="/u/{{ .id }}">
        <div class="front">
          <img
            class="user-avatar"
            src="{{ config "APP_AVATAR_URL" }}/{{ .id }}"
            alt="Avatar" />
           <h1
            class="header"
            {{ if not (has .privileges 1) }}
              style="opacity: 0.5"
            {{ end }}>
            {{ if .country }}
              <img
                class="new-flag fixed--flag--cards"
                src="/static/images/flags/{{ countryCodepoints .country }}.svg" />
            {{ end }}
            {{ .username }}
          </h1>
        </div>
        {{ if .registered_on }}
          <div class="sub-header" title="Registered">
            <i class="sign in icon notlock-icon"></i>
            {{ time .registered_on }}
          </div>
        {{ end }}
      </a>
    </div>
  {{ end }}
{{ end }}

{{ define "clanMembers" }}
  {{ with .clan }}
    {{ if eq (len .members) 1 }}
      <div>
        <p>No members in this clan. maybe invite someone?</p>
      </div>
    {{ else }}
      <div class="ui two column center aligned stackable grid" id="members">
        {{ $c := . }}
        {{ range .members }}
          {{ if ne .id $c.owner }}
            {{ template "clanMember" . }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

  {{ end }}
{{ end }}
