{{/* prettier-ignore-start */}}
{{/*###
Handler=/doc
TitleBar=Documentation
BannerContent=documentation.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <div class="ui container">
    <div class="ui segments">
      <div class="ui segment">
        <h1 class="ui header">{{ .T "Akatsuki Documentation" }}</h1>
        {{ .T "Need some help getting around? Look no further!" }}
      </div>
      <div class="ui segment">
        <h3 class="ui header">{{ .T "Published Guides" }}</h3>
        {{ with documentationFiles .Context.Language }}
          {{ if . }}
            <ul class="ui list">
              {{ range . }}
                <li><a href="/doc/{{ .Slug }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          {{ else }}
            {{ .T "Looks like there is no documentation on this Akatsuki instance!" }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
