{{/* prettier-ignore-start */}}
{{/*###
Handler=/friends
TitleBar=Friends
MinPrivileges=2
BannerContent=friends.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <link rel="stylesheet" href="/static/css/pages/clanpage.css" />
  <div class="ui container">
    <div class="ui segments">
      <div class="ui segment">
        {{ .T "On this page you can see all of your friends, and unfriend them as you see fit." }}
      </div>
      <div class="ui segment">
        {{ $ := . }}
        {{ $page := or (atoint (.Gin.Query "p")) 1 }}
        {{ $friends := .Get "friends?p=%d&l=18&sort=username,asc" $page }}
        {{ with $friends }}
          <div class="ui three column stackable grid">
            {{ range .friends }}
              <div class="column">
                <div class="player">
                  <div class="front">
                    <img
                      class="user-avatar"
                      src="{{ config "APP_AVATAR_URL" }}/{{ .id }}"
                      alt="Avatar"
                      {{ if not (has .privileges 1) }}
                        style="opacity: 0.5"
                      {{ end }} />
                    <a href="/u/{{ .id }}">
                      <h1
                        class="header"
                        {{ if not (has .privileges 1) }}
                          style="opacity: 0.5"
                        {{ end }}>
                        {{ if .country }}
                          <img
                            class="new-flag fixed--flag--cards"
                            src="/static/images/flags/{{ countryCodepoints .country }}.svg" />
                        {{ end }}
                        <span>
                          {{ .username }}
                        </span>
                      </h1>
                    </a>
                  </div>
                  <div
                    class="sub-header"
                    title="{{ if .is_mutual }}
                      {{ $.T "Mutual" }}
                    {{ else }}
                      {{ $.T "Friend" }}
                    {{ end }}">
                    <div
                      class="ui compact labeled button small-text-btn"
                      data-userid="{{ .id }}">
                      <i
                        class="{{ if .is_mutual }}
                          red heart
                        {{ else }}
                          green minus
                        {{ end }} icon"></i>
                      <span>
                        {{ if .is_mutual }}
                          {{ $.T "Unmutual" }}
                        {{ else }}
                          {{ $.T "Remove" }}
                        {{ end }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
      {{ $left := gt $page 1 }}
      {{ $right := eq (len (rsin $friends.friends)) 18 }}
      {{ if or $left $right }}
        <div class="ui right aligned segment">
          <div class="ui pagination menu">
            {{ if $left }}
              <a
                class="icon item"
                href="/friends?p={{ minus (float $page) 1 }}">
                <i class="left chevron icon"></i>
              </a>
            {{ end }}
            {{ if $right }}
              <a class="icon item" href="/friends?p={{ plus (float $page) 1 }}">
                <i class="right chevron icon"></i>
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
