{{/* prettier-ignore-start / }}
{{/*###
Handler=/leaderboard
TitleBar=Leaderboard
BannerContent=dev.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <link rel="stylesheet" href="/static/css/pages/leaderboard.css" />

  <div class="ui container akat-box">
    {{ $favModeRaw := .Get "users/self/favourite_mode" }}
    {{ $favMode := _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
    {{ $relax := _or (atoi (.Gin.Query "rx")) (float 0) }}
    {{ $sort := or (.Gin.Query "sort") "pp" }}

	<script>
		var favouriteMode = '{{ $favMode }}';
		var rx = '{{ or (.Gin.Query "rx") 0 }}';
		var page = '{{ .Gin.Query "p" | atoint | atLeastOne }}';
		var sort = '{{ $sort }}'
		var country = '{{ .Gin.Query "country" }}'.toLowerCase();
		if (country.length != 2)
			country = "";
	</script>

    <div class="ui grid stackable">
      <div class="five wide column">
        <div class="ui three item menu" id="rx-menu">
          <a
            class="{{ favMode $relax 0 }}item"
            data-rx="0"
            href="/leaderboard?rx=0">
            Vanilla
          </a>
          <a
            class="{{ favMode $relax 1 }}item"
            data-rx="1"
            href="/leaderboard?rx=1">
            Relax
          </a>
          <a
            class="{{ favMode $relax 2 }}item"
            data-rx="2"
            href="/leaderboard?rx=2">
            Autopilot
          </a>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui four item menu" id="mode-menu">
          {{ range $k, $v := modes }}
            <a
              class="{{ favMode $favMode $k }}item"
              data-mode="{{ $k }}"
              href="/leaderboard?mode={{ $k }}">
              {{ $v }}
            </a>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="ui twelve item stackable menu" id="country-menu">
      {{ range countryList 11 }}
        {{ $code := . }}
        {{ with country . false }}
          <a class="item lb-country" data-country="{{ $code }}">{{ . }}</a>
        {{ end }}
      {{ end }}
      <a class="item" id="country-chooser-modal">...</a>
    </div>

    <table class="ui table leaderboard-table" id="main">
      <thead>
        {{ template "simplepag" 5 }}
        <tr>
          <th class="t-heading"></th>
          <th class="t-heading t-player"></th>
          <th class="t-heading center aligned">
            {{ if eq $sort "score" }}
              Score (Performance)
            {{ else }}
              Performance (Score)
            {{ end }}
          </th>
          <th class="t-heading center aligned">{{ .T "Accuracy" }}</th>
          <th class="t-heading center aligned">{{ .T "Playcount" }}</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        {{ template "simplepag" 5 }}
      </tfoot>
    </table>
    <div class="ui modal">
      <div class="content">
        <div class="ui four column grid">
          {{ range countryList 500 }}
            <div class="ui clickable column lb-country" data-country="{{ . }}">
              <img
                src="/static/images/flags/{{ countryCodepoints . }}.svg"
                class="new-flag fixed--flag--margin" />
              {{ countryReadable . }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
