{{/* prettier-ignore-start / }}
{{/*###
Handler=/leaderboard
TitleBar=Leaderboard
BannerContent=dev.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <link rel="stylesheet" href="/static/css/pages/leaderboard.min.css" />

  <div class="ui container akat-box">
    {{ $favMode := 0.0 }}
    {{ if .Context.User.ID }}
      {{ $favModeRaw := .Get "users/self/favourite_mode" }}
      {{ $favMode = _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
    {{ end }}
    {{ $relax := _or (atoi (.Gin.Query "rx")) (float 0) }}
    {{ $sort := or (.Gin.Query "sort") "pp" }}

	<script>
		var favouriteMode = '{{ $favMode }}';
		var rx = '{{ $relax }}';
		var page = '{{ .Gin.Query "p" | atoint | atLeastOne }}';
		var sort = '{{ $sort }}'
		var country = '{{ .Gin.Query "country" }}'.toLowerCase();
		if (country.length != 2)
			country = "";
	</script>

    <div class="ui grid stackable">
      <div class="five wide column">
        <div class="ui three item menu" id="rx-menu">
          <a
            class="{{ favMode $relax 0 }}item"
            data-rx="0"
            href="/leaderboard?rx=0">
            Vanilla
          </a>
          <a
            class="{{ favMode $relax 1 }}item"
            data-rx="1"
            href="/leaderboard?rx=1">
            Relax
          </a>
          <a
            class="{{ favMode $relax 2 }}item"
            data-rx="2"
            href="/leaderboard?rx=2">
            Autopilot
          </a>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui four item menu" id="mode-menu">
          {{ range $k, $v := modes }}
            <a
              class="{{ favMode $favMode $k }}item"
              data-mode="{{ $k }}"
              href="/leaderboard?mode={{ $k }}">
              {{ $v }}
            </a>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="ui twelve item stackable menu" id="country-menu">
      {{ range countryList 11 }}
        {{ $code := . }}
        {{ with country . false }}
          <a class="item lb-country" data-country="{{ $code }}">{{ . }}</a>
        {{ end }}
      {{ end }}
      <a class="item" id="country-chooser-modal">...</a>
    </div>

    <table class="ui table leaderboard-table" id="main">
      <thead>
        {{ template "simplepag" 5 }}
        <tr>
          <th class="t-heading"></th>
          <th class="t-heading t-player"></th>
          <th class="t-heading center aligned">
            {{ if eq $sort "score" }}
              Score (Performance)
            {{ else }}
              Performance (Score)
            {{ end }}
          </th>
          <th class="t-heading center aligned">{{ .T "Accuracy" }}</th>
          <th class="t-heading center aligned">{{ .T "Playcount" }}</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        {{ template "simplepag" 5 }}
      </tfoot>
    </table>
    <div class="ui modal">
      <div class="content">
        <div class="ui four column grid">
          {{ range countryList 500 }}
            <div class="ui clickable column lb-country" data-country="{{ . }}">
              <img
                src="/static/images/flags/{{ countryCodepoints . }}.svg"
                class="new-flag fixed--flag--margin" />
              {{ countryReadable . }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      page = page === 0 ? 1 : page;

      function loadLeaderboard() {
        var wl = window.location;
        window.history.replaceState(
          "",
          document.title,
          wl.pathname +
            "?mode=" +
            favouriteMode +
            "&rx=" +
            rx +
            "&p=" +
            page +
            "&sort=" +
            sort +
            (country != "" ? "&country=" + encodeURI(country) : "") +
            wl.hash
        );
        api(
          "leaderboard",
          {
            mode: favouriteMode,
            rx: rx,
            p: page,
            l: 50,
            country: country,
            sort: sort,
          },
          function (data) {
            var tb = $(".ui.table tbody");
            tb.find("tr").remove();
            if (data.users == null) {
              disableSimplepagButtons(true);
              data.users = [];
            }
            var i = 0;
            data.users.forEach(function (v) {
              codepoints = countryToCodepoints(v.country);
              tb.append(
                $("<tr class='l-player' />").append(
                  $("<td />").text("#" + ((page - 1) * 50 + ++i)),
                  $("<td />").html(
                    "<div class='flag-container'><a href='/leaderboard?mode=" +
                      favouriteMode +
                      "&rx=" +
                      rx +
                      "&country=" +
                      v.country.toLowerCase() +
                      "'><img src='/static/images/flags/" +
                      codepoints +
                      ".svg' class='new-flag nopad'></img></a><a href='/u/" +
                      v.id +
                      "?mode=" +
                      favouriteMode +
                      "&rx=" +
                      rx +
                      "'>" +
                      escapeHTML(v.username) +
                      "</a></div>"
                  ),
                  $("<td class='center aligned' />").html(
                    scoreOrPP(
                      v.chosen_mode.ranked_score,
                      v.chosen_mode.pp,
                      sort === "score"
                    )
                  ),
                  $("<td class='center aligned' />").text(
                    v.chosen_mode.accuracy.toFixed(2) + "%"
                  ),
                  $("<td class='center aligned' />").html(
                    addCommas(v.chosen_mode.playcount) +
                      " <i>(lv. " +
                      v.chosen_mode.level.toFixed(0) +
                      ")</i>"
                  )
                )
              );
            });
            disableSimplepagButtons(data.users.length < 50);
          }
        );
      }

      function scoreOrPP(s, pp, forceScore) {
        if (pp === 0) {
          return "<b>" + addCommas(s) + "</b>";
        }

        if (forceScore) {
          return "<b>" + addCommas(s) + "</b> (" + addCommas(pp) + "pp)";
        }

        return "<b>" + addCommas(pp) + "pp</b> (" + addCommas(s) + ")";
      }

      if (country) {
        $(`[data-country=${country}]`).addClass("active");
      }

      // country stuff
      $("#country-chooser-modal").on("click", function () {
        $(".ui.modal").modal("show");
      });

      $(".lb-country").on("click", function () {
        country = $(this).data("country");
        $("#country-menu .active.item").removeClass("active");
        $(this).addClass("active");
        page = 1;
        $(".ui.modal").modal("hide");
        loadLeaderboard();
      });

      toggleModeAvailability(favouriteMode, rx);
      loadLeaderboard();
      setupSimplepag(loadLeaderboard);

      $("#mode-menu .item").on("click", function (e) {
        e.preventDefault();
        $("#mode-menu .active.item").removeClass("active");
        $("#country-menu .active.item").removeClass("active");
        $(this).addClass("active");
        favouriteMode = $(this).data("mode");
        country = "";
        page = 1;
        toggleModeAvailability(favouriteMode, rx);
        loadLeaderboard();
      });

      $("#rx-menu .item").on("click", function (e) {
        e.preventDefault();
        $("#rx-menu .active.item").removeClass("active");
        $("#country-menu .active.item").removeClass("active");
        $(this).addClass("active");
        country = "";
        page = 1;
        rx = $(this).data("rx");
        toggleModeAvailability(favouriteMode, rx);
        loadLeaderboard();
      });
    });
  </script>
{{ end }}
