{{ define "navbar" }}
  {{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
  {{ $isAdmin := hasAdmin .Context.User.Privileges }}
  <div
    class="ui secondary fixed-height white background main menu no margin bottom{{ if .DisableHH }}
      dropped
    {{ end }}"
    id="navbar"
  >
    <div class="ui container">
      <div class="item">
        <a class="navbar-icon" href="/" title="{{ .T "Home page" }}">
          <img src="/static/images/logos/wordmark_white.svg" alt="Akatsuki" style="height: 20px;"></img>
        </a>
      </div>
      {{ if $isRAP }}
      {{ else }}
        <div class="ui dropdown item">
          <span>{{ .T "Leaderboard" }}</span>
          <div class="menu">
            {{ navbarItem .Path (.T "Performance") "/leaderboard" }}
            {{ navbarItem .Path (.T "Score") "/leaderboard?sort=score" }}
            {{ navbarItem .Path (.T "Clans") "/clans?mode=0" }}
          </div>
        </div>
        <div class="ui dropdown item">
          <span>{{ .T "Information" }}</span>
          <div class="menu">
            {{/* navbarItem .Path (.T "About Akatsuki") "/about" */}}
            {{ navbarItem .Path (.T "Documentation") "/doc" }}
            {{ navbarItem .Path (.T "Rules") "/doc/tos" }}
            {{ navbarItem .Path (.T "YouTube Channel") "https://www.youtube.com/channel/UCjf8Fx_BlUr-htEy6hficcQ" }}
            {{ navbarItem .Path (.T "Akatsuki Patcher") "/patcher" }}
          </div>
        </div>

        {{ navbarItem .Path (.T "Discord") "/discord" }}
        {{ if $isAdmin }}
          {{ navbarItem .Path (.T "Admin Panel" | printf "<b>%s</b>") "https://old.akatsuki.gg/index.php?p=100" }}
        {{ end }}
      {{ end }}
      <div class="firetrucking-right-menu">
        {{ navbarItem .Path (printf "<span data-tooltip=\"Support us! (♥ω♥ ) ~♪\" data-position=\"bottom right\"><i class=\"red heart icon m-less\"></i></span>") "/premium" }}


        <div class="item">
          <div class="ui search" id="user-search">
            <div class="ui icon input">
              <input
                class="prompt"
                type="text"
                placeholder="{{ .T "Looking for someone?" }}"
                id="user-search-input"
              />
              <i class="blue search link icon"></i>
            </div>
          </div>
        </div>

        {{ if .Context.User.Username }}
          <div class="ui dropdown item">
            <img
              class="ui avatar image"
              src="{{ config "PUBLIC_AVATARS_SERVICE_BASE_URL" }}/{{ .Context.User.ID }}"
            />
            <span>{{ .Context.User.Username }}</span>
            <div class="menu">
              {{ navbarItem .Path (.T "Profile") (printf "/u/%d" .Context.User.ID) }}
              {{ navbarItem .Path (.T "Friends") "/friends" }}
              {{ navbarItem .Path (.T "Settings") "/settings" }}
              {{ navbarItem .Path (.T "Log out") (printf "/logout?k=%s" (.Session.Get "logout")) }}
            </div>
          </div>
        {{ else }}
          {{ navbarItem .Path (.T "Log in") "/login" }}
          {{ navbarItem .Path (.T "Register") "/register" }}
        {{ end }}


        <a class="item mobile" onclick="toggleNavbar()">
          <button class="ui icon button">
            <i class="list icon"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="mobile-header">
      {{ if .Context.User.Username }}
        <div class="head">
          <a href="/u/{{ .Context.User.ID }}" class="user">
            <img
              class="avatar"
              src="{{ .Conf.PUBLIC_AVATARS_SERVICE_BASE_URL }}/{{ .Context.User.ID }}"
            />
            <div class="username">
              {{ .Context.User.Username }}
            </div>
          </a>
        </div>
      {{ else }}
        <div class="head">
          <a href="#" class="user">
            <img class="avatar" src="https://a.akatsuki.gg/999" />
            <div class="username">{{ $.T "Guest" }}</div>
          </a>
          <div class="user-control">
            <a class="single" href="/login">
              <span class="header-block--title">{{ $.T "Login" }}</span>
            </a>
            <a class="single" href="/register">
              <span class="header-block--title">{{ $.T "Register" }}</span>
            </a>
          </div>
        </div>
      {{ end }}
      <div class="mcontent">
        {{ if .Context.User.Username }}
          <a class="single" href="/friends">
            <span class="header-block--title">{{ $.T "Friends" }}</span>
          </a>
          <a class="single" href="/settings">
            <span class="header-block--title">{{ $.T "Settings" }}</span>
          </a>
          <div class="single">
            <span
              data-menu="lb"
              data-invoked="false"
              class="header-block--title"
            >
              Leaderboard
              <i data-dropdown-icon="lb" class="fa-solid fa-caret-down"></i>
            </span>
            <div data-dropdown-menu="lb" class="m-menu" style="display: none;">
              <a class="single" href="/leaderboard">Performance</a>
              <a class="single" href="/leaderboard?sort=score">Score</a>
              <a class="single" href="/clans?mode=0">Clans</a>
            </div>
          </div>
          <div class="single">
            <span
              data-menu="info"
              data-invoked="false"
              class="header-block--title"
            >
              Information
              <i data-dropdown-icon="info" class="fa-solid fa-caret-down"></i>
            </span>
            <div
              data-dropdown-menu="info"
              class="m-menu"
              style="display: none;"
            >
              <a class="single" href="/doc">Documentation</a>
              <a class="single" href="/doc/tos">Rules</a>
              <a
                class="single"
                href="https://www.youtube.com/channel/UCjf8Fx_BlUr-htEy6hficcQ"
              >
                Youtube
              </a>
            </div>
          </div>
          <div class="ui search" id="user-search">
            <div class="ui icon input">
              <input
                class="prompt"
                type="text"
                placeholder="{{ .T "Looking for someone?" }}"
                id="user-search-input"
              />
              <i class="blue search link icon"></i>
            </div>
          </div>
          <a class="single" href="/discord">
            <span class="header-block--title">Discord</span>
          </a>
          <a class="single" href="/logout?k={{ .Session.Get "logout" }}">
            <span class="header-block--title">Logout</span>
          </a>
        {{ else }}
          <div class="single">
            <span
              data-menu="lb"
              data-invoked="false"
              class="header-block--title"
            >
              Leaderboard
              <i data-dropdown-icon="lb" class="fa-solid fa-caret-down"></i>
            </span>
            <div data-dropdown-menu="lb" class="m-menu" style="display: none;">
              <a class="single" href="/leaderboard">Performance</a>
              <a class="single" href="/leaderboard?sort=score">Score</a>
              <a class="single" href="/clans?mode=0">Clans</a>
            </div>
          </div>
          <div class="single">
            <span
              data-menu="info"
              data-invoked="false"
              class="header-block--title"
            >
              Information
              <i data-dropdown-icon="info" class="fa-solid fa-caret-down"></i>
            </span>
            <div
              data-dropdown-menu="info"
              class="m-menu"
              style="display: none;"
            >
              <a class="single" href="/doc">Documentation</a>
              <a class="single" href="/doc/tos">Rules</a>
              <a
                class="single"
                href="https://www.youtube.com/channel/UCjf8Fx_BlUr-htEy6hficcQ"
              >
                Youtube
              </a>
            </div>
          </div>
          <div class="ui search" id="user-search">
            <div class="ui icon input">
              <input
                class="prompt"
                type="text"
                placeholder="{{ .T "Looking for someone?" }}"
                id="user-search-input"
              />
              <i class="blue search link icon"></i>
            </div>
          </div>
          <a class="single" href="/discord">
            <span class="header-block--title">Discord</span>
          </a>
        {{ end }}
      </div>
    </div>
    <script>
      $(document).ready(() => {
        // Dropdowns for mobile view.
        $("[data-menu]").on("click", function () {
          dropdownType = $(this).data("menu");
          isInvoked = $(this).data("invoked") == "true";
          console.log(dropdownType, isInvoked);

          dropdown = $(`[data-dropdown-menu="${dropdownType}"]`);
          dropdownIcon = $(`[data-dropdown-icon="${dropdownType}"]`);
          if (!isInvoked) {
            $(this).data("invoked", "true");
            dropdown.slideDown(300, () => {
              dropdown.css("display", "");
              dropdownIcon.removeClass("fa-caret-down").addClass("fa-caret-up");
            });
          } else {
            $(this).data("invoked", "false");
            dropdown.slideUp(300, () => {
              dropdown.css("display", "none");
              dropdownIcon.removeClass("fa-caret-up").addClass("fa-caret-down");
            });
          }
        });
      });
    </script>
  </div>
{{ end }}
