{{/* prettier-ignore-start */}}
{{/*###
Handler=/premium
TitleBar=Akatsuki Premium
BannerContent=fundmyautism.jpg
BannerType=1
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  {{ $global := .Context }}
  {{ $ := $ }}
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css"
    rel="stylesheet"
    type="text/css" />
  <div class="ui container">
    {{ $ief := ieForm .Gin }}
    {{ if .Context.User.ID }}
      {{ with .Get "users/self/donor_info" }}
        {{ if .has_premium }}
          <div class="ui segment">
            <h1
              class="ui center aligned header no bottom margin"
              style="margin: 0 auto; display: table;">
              <i class="red heart icon" style="font-size: 90%;"></i>
              <div class="content">
                {{ $.T "You are a premium member!" }}
              </div>
            </h1>
            <div class="ui centered subtitle" style="font-size:1.2rem;">
              {{ $.T "Your Premium expires <b>%s</b>. No need to feel guilty for not having donated!" (time .expiration) | html }}
              &lt;3
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="ui segment">
      <h1 class="ui center aligned header">
        {{ $.T "So, what makes it so <i>Premium</i>?" | html }}
        <div class="sub header">
          {{ $.T "Well, it comes with several additional perks," }}
        </div>
      </h1>
      <h4 class="ui horizontal divider header">
        {{ $.T "Here's what you get:" }}
      </h4>
      <div class="ui internally celled stackable grid">
        <div class="row">
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Change your identity" }}
            </h3>
            {{ $.T "<b>Tired of your current username?</b> Now you can have as many as you want! Now available for self-serve in your user settings." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Start from scratch" }}</h3>
            {{ $.T "Looking to go SS-only? Switching to mouse or tablet? Or just want a clean slate? <b>Start fresh</b> with a selective wipe of your stats at any time!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Compete with friends, form rivalries with similar players" }}
            </h3>
            {{ $.T "<b>Compete with friends, form rivalships and play on the leaderboards with similarly skilled players</b>, without the crippling depression of not beating that pro!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Customize your profile" }}</h3>
            {{ $.T "Thinking of <b>spicing your profile up with some hummus</b>? Want access to our custom badge editor? Got you covered! With premium, we're always adding ways to customize your profile." | html }}
          </div>
        </div>
        <div class="row">
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Use channel-limited commands, anywhere" }}
            </h3>
            {{ $.T "Premium members have the ability to use channel-limited commands, such as <code>!request</code>, <code>!last</code>, and can use them in any channel." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Leaderboard preferences" }}</h3>
            {{ $.T "<b>Customize ui preferences for in-game leaderboards!</b> Change between score & pp for Vanilla leaderboards, and customize the number of records in each leaderboard." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Premium special indicators" }}</h3>
            {{ $.T "You will get a special <b>Premium badge and flair</b> on your profile, as well as a <b>colored username in-game</b> to show everyone you've decided to support us!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "In-game #premium channel" }}</h3>
            {{ $.T "Premium members have a <b>dedicated in-game channel of their own!</b> This also comes along with the #supporter channel." | html }}
          </div>
        </div>
      </div>
      {{ if not $global.User.ID }}
        <h4 class="ui horizontal divider header">
          {{ $.T "Live the Premium Life!" }}
        </h4>
        <center>
          <p>
            {{ $.T "We process payments through <b>PayPal</b> (or credit/debit card linked to PayPal).<br />Select your desired number of months using the slider below." | html }}
          </p>
        </center>
        <br />
        <div id="months-slider" style="margin: 0 auto; max-width: 500px"></div>
        <br />
        <div id="cost" class="centered"><b>{{ $.T "Loading..." }}</b></div>
        <br />
        <div
          class="ui internally celled two column center aligned stackable grid">
          <div class="column">
            <h2 class="ui header">
              <i class="fa-brands fa-paypal"></i>
              {{ $.T "PayPal" }}
            </h2>
            <form
              id="paypal-form"
              action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_self">
              <input type="hidden" name="on0" value="Period" />
              <input type="hidden" name="os0" value="1 month" />
              {{ range _range 24 }}
                {{ $months := plus (float .) 1 }}
                <input
                  type="hidden"
                  name="option_select{{ . }}"
                  value="{{ $months }} month{{ if . }}s{{ end }}" />
                <input
                  type="hidden"
                  name="custom"
                  value="userid={{ $global.User.ID }}" />
                <input
                  type="hidden"
                  name="option_amount{{ . }}"
                  value="{{ calculatePremiumPrice $months }}" />
              {{ end }}
              <input
                type="hidden"
                name="on1"
                value="Akatsuki user to give premium:" />
              <input
                type="hidden"
                name="amount"
                value="{{ calculatePremiumPrice 1 }}"
                id="paypal-amt" />
              <div class="ui fluid labeled action input">
                <div class="ui label">
                  {{ $.T "User:" }}
                </div>
                <input
                  id="username-input"
                  name="os1"
                  type="text"
                  placeholder="{{ $.T "Shigetora" }}"
                  value="{{ $global.User.Username }}" />
                <button type="submit" class="ui blue button">
                  {{ $.T "Submit" }}
                </button>
              </div>
              {{ $ief }}
              <input
                type="hidden"
                name="business"
                value="{{ config "PAYPAL_EMAIL_ADDRESS" }}" />
              <input type="hidden" name="cmd" value="_xclick" />
              <input type="hidden" name="lc" value="GB" />
              <input type="hidden" name="no_note" value="0" />
              <input type="hidden" name="currency_code" value="USD" />
              <img
                alt=""
                border="0"
                src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif"
                width="1"
                height="1" />
            </form>
          </div>
        </div>
        <h4 class="ui horizontal divider header">
          {{ $.T "I've donated, now what?" }}
        </h4>
        <center>
          <p>
            {{ $.T "Payments are processed automatically and generally apply within 5 minutes of purchase." }}
            <br />
            <br />
            {{ $.T "For any support or questions, please either open a ticket in our <a href='/discord'>Discord server</a> (fastest) or send an email to <code>support@akatsuki.gg</code>." | html }}
          </p>
        </center>
      {{ else }}
        <div class="ui divider"></div>
        <h2 class="ui center aligned header">
          <em>{{ $.T "Please sign into your account to purchase Premium" }}</em>
        </h1>
      {{ end }}
      <h4 class="ui horizontal divider header">
        {{ $.T "Disclaimer" }}
      </h4>
      <center>
        <p>
          {{ $.T "<b>Premium purchases are non-refundable, and do not exempt you from <a href='/doc/tos'>Akatsuki's Terms of Service</a>.</b>" | html }}
        </p>
      </center>
    </div>
  </div>
{{ end }}
