{{/* prettier-ignore-start */}}
{{/*###
Handler=/premium
TitleBar=Akatsuki+ Membership
BannerContent=fundmyautism.jpg
BannerType=1
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  {{ $global := .Context }}
  {{ $ := $ }}
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css"
    rel="stylesheet"
    type="text/css" />
  <div class="ui container">
    <div class="ui warning message">
      {{ $.T "Akatsuki<sup>+</sup> is a combination of the old supporter & premium tiers, to unify & create a more affordable subscription" | html }}
    </div>
    {{ $ief := ieForm .Gin }}
    {{ if .Context.User.ID }}
      {{ with .Get "users/self/donor_info" }}
        {{ if .has_premium }}
          <div class="ui segment">
            <h1
              class="ui center aligned header no bottom margin"
              style="margin: 0 auto; display: table;">
              <i class="red heart icon" style="font-size: 90%;"></i>
              <div class="content">
                {{ $.T "You are an Akatsuki<sup>+</sup> member!" | html }}
              </div>
            </h1>
            <div class="ui centered subtitle" style="font-size:1.2rem;">
              {{ $.T "Your Akatsuki<sup>+</sup> expires <b>%s</b>. No need to feel guilty for not having donated!" (time .expiration) | html }}
              &lt;3
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="ui segment">
      <h2 class="ui center aligned header">
        {{ $.T "Akatsuki is (unfortunately) not cheap to run" | html }}
        <div class="sub header">
          {{ $.T "Our platform is free-to-win, and relies on donations from users, in the form of subscriptions." | html }}
        </div>
      </h2>
      <h4 class="ui horizontal divider header">
        {{ $.T "Here's what we have to offer" }}
      </h4>
      <div class="ui internally celled stackable grid">
        <div class="row">
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Change your identity" }}
            </h3>
            {{ $.T "<b>Tired of your current username?</b> Now you can have as many as you want! Now available self-serve for you to change as you desire in your user settings." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Start from scratch" }}</h3>
            {{ $.T "Looking to go SS-only? Switching to mouse or tablet? Or just want a clean slate? <b>Start fresh</b> with a selective wipe of your stats at any time via a support ticket or email!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Akatsuki<sup>+</sup> membership flair" | html }}</h3>
            {{ $.T "You will get a special <b>Akatsuki<sup>+</sup> badge</b>, a <b>colored username in-game</b>, and <b>an Akatsuki<sup>+</sup> role in our Discord</b> to show everyone you've decided to support us!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">{{ $.T "Customize your profile" }}</h3>
            {{ $.T "Thinking of <b>spicing your profile up with some hummus</b>? Want access to our custom badge editor? With Akatsuki<sup>+</sup>, we've got you covered!" | html }}
          </div>
        </div>
        <div class="row">
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Force score overwrites" }}
            </h3>
            {{ $.T "Get a super cool new score, but it didn't overwrite? Use the Akatsuki<sup>+</sup> <code>!overwrite</code> command to force your new score to overwrite your best!" | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "Leaderboard preferences" }}
            </h3>
            {{ $.T "<b>Customize ui preferences for in-game leaderboards!</b> Change between score & pp for Vanilla leaderboards, and customize the number of records in each leaderboard." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "View your followers" }}
            </h3>
            {{ $.T "<b>View who follows you</b>, along with your mutual friends. Eventually, we intend to create a more advanced display of gameplay and social stats for Akatsuki<sup>+</sup> members." | html }}
          </div>
          <div class="four wide column">
            <h3 class="ui header">
              {{ $.T "DM-only commands in public channels" }}
            </h3>
            {{ $.T "Akatsuki<sup>+</sup> members can use dm-only commands like <code>!last</code>, <code>!request</code>, etc. in public chat channels in-game." | html }}
          </div>
        </div>
      </div>
      {{ if $global.User.ID }}
        <h4 class="ui horizontal divider header">
          {{ $.T "Here's what we ask for in return" }}
        </h4>
        <center>
          <p>
            {{ $.T "<b>The cost of Akatsuki<sup>+</sup> is a fixed USD $5 / month.</b>" | html }}
            <br /><br />
            {{ $.T "Select your desired number of months using the slider below." | html }}
          </p>
        </center>
        <br />
        <div id="months-slider" style="margin: 0 auto; max-width: 500px"></div>
        <br />
        <!-- NOTE: akatsuki.js modifies `#cost` based on the months selector -->
        <div id="cost" class="centered"><b>{{ $.T "Loading..." }}</b></div>
        <div
          class="ui internally celled two column center aligned stackable grid">
          <div class="column">
            <form
              id="paypal-form"
              action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_self">
              <input type="hidden" name="on0" value="Period" />
              <input type="hidden" name="os0" value="1 month" />
              {{ range _range 24 }}
                {{ $months := plus (float .) 1 }}
                <input
                  type="hidden"
                  name="option_select{{ . }}"
                  value="{{ $months }} month{{ if . }}s{{ end }}" />
                <input
                  type="hidden"
                  name="custom"
                  value="userid={{ $global.User.ID }}" />
                <input
                  type="hidden"
                  name="option_amount{{ . }}"
                  value="{{ calculatePremiumPrice $months }}" />
              {{ end }}
              <input
                type="hidden"
                name="on1"
                value="Akatsuki user to give premium:" />
              <input
                type="hidden"
                name="amount"
                value="{{ calculatePremiumPrice 1 }}"
                id="paypal-amt" />
              <div class="ui fluid labeled action input">
                <div class="ui label">
                  {{ $.T "User:" }}
                </div>
                <input
                  id="username-input"
                  name="os1"
                  type="text"
                  placeholder="{{ $.T "Example Username" }}"
                  value="{{ $global.User.Username }}" />
                <button type="submit" class="ui blue button">
                  <h4 class="ui header">
                    <i class="fa-brands fa-paypal"></i>
                    {{ $.T "PayPal" }}
                  </h4>
                </button>
              </div>
              {{ $ief }}
              <input
                type="hidden"
                name="business"
                value="{{ config "PAYPAL_EMAIL_ADDRESS" }}" />
              <input type="hidden" name="cmd" value="_xclick" />
              <input type="hidden" name="lc" value="GB" />
              <input type="hidden" name="no_note" value="0" />
              <input type="hidden" name="currency_code" value="USD" />
              <img
                alt=""
                border="0"
                src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif"
                width="1"
                height="1" />
            </form>
            <br />
            {{ $.T "(If the cost of Akatsuki<sup>+</sup> is outside of your price range, please feel free to apply for a personalized quote at our email <code>support@akatsuki.gg</code>)" | html }}
          </div>
        </div>
        <h4 class="ui horizontal divider header">
          {{ $.T "I've donated, now what?" }}
        </h4>
        <center>
          <p>
            {{ $.T "Payments are processed automatically and generally apply within 5 minutes of purchase." }}
            <br />
            <br />
            {{ $.T "For any support or questions, please either open a ticket in our <a href='/discord'>Discord server</a> (fastest) or send an email to <code>support@akatsuki.gg</code>." | html }}
          </p>
        </center>
      {{ else }}
        <div class="ui divider"></div>
        <h2 class="ui center aligned header">
          <em>{{ $.T "Please sign into your account to purchase Akatsuki<sup>+</sup>" | html }}</em>
        </h1>
      {{ end }}
      <h4 class="ui horizontal divider header">
        {{ $.T "Disclaimer of Terms & Liability" }}
      </h4>
      <center>
        <p>
          {{ $.T "All money received from donations go towards server, development, maintenance and other costs associated with running Akatsuki." }}
          <br /><br />
          {{ $.T "<b>Akatsuki<sup>+</sup> purchases are non-refundable, and do not exempt you from <a href='/doc/tos'>Akatsuki's Terms of Service</a>.</b>" | html }}
        </p>
      </center>
    </div>
  </div>
{{ end }}
