{{/* prettier-ignore-start */}}
{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
BannerContent=team2.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <link rel="stylesheet" href="/static/css/pages/clanpage.min.css" />
  <div class="ui container">
    <div class="ui segments">
      <div class="ui center aligned segment">
        <h3>
          {{ .T "A list of wonderful people who keep Akatsuki running smoothly, and take pride in its community." }}
        </h3>
      </div>
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Directors" }}</h1>
        <p>
          {{ .T "Responsible for envisioning Akatsuki's future, and creating ideas to shape the server." }}
          <br />
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 30) }}
      </div>
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Core Developers" }}</h1>
        <p>
          {{ .T "Responsible for implementing and maintaining Akatsuki's infrastructure - they keep the server running, and take care of its maintenance." }}
          <br />
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 2) }}
      </div>
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Account Management Team" }}</h1>
        <p>
          {{ .T "Responsible for not only the community but also the management team itself." }}
          <br />
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 32) }}
      </div>
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Community Support Team" }}</h1>
        <p>
          {{ .T "Responsible for assisting players with their inquiries and overseeing the community's well-being." }}
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 99) }}
      </div>
      <div class="ui center aligned segment">
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Event Management Team" }}</h1>
        <p>
          {{ .T "Responsible for community engagement including tournaments, social media, and other activites that the community take part in." }}
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 78) }}
      </div>
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Nomination Quality Assurance Team" }}</h1>
        <p>
          {{ .T "They ensure that the Beatmap Nomination team is running at its best performance and promote changes to the Ranking Criteria when deemed necessary." }}
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 100) }}
      </div>
        <h1 class="ui heading">{{ .T "Beatmap Nomination Team" }}</h1>
        <p>
          {{ .T "Responsible for handling all beatmap related inquiries; such as beatmaps status requests." }}
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 53) }}
      </div>
    </div>
    <div class="ui segments">
      <div class="ui center aligned segment">
        <h1 class="ui heading">{{ .T "Special thanks" }}</h1>
        <p>
          {{ .T "Here's an additional list of some people who helped us out along the way." }}
        </p>
        {{ template "users" (.Get "badges/members?id=%d" 42) }}
      </div>
      <div class="ui segment">
        <ul class="ui list">
          <li>
            {{ .T "<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai-ng'>oppai-ng</a>, used as our osu & taiko pp calculator." | html }}
            <br />
            oppai is licensed under GPL v3. Our implementation can be found
            <a
              href="https://github.com/osuAkatsuki/lets/src/master/pp/rippoppai.py">
              here
            </a>
            .
          </li>
          <li>
            {{ .T "<b>Tom94</b>, for <a href='https://github.com/ppy/osu-performance'>osu-performance</a>, used as a reference for our mania pp calculator." | html }}
            <br />
            osu-performance is licensed under AGPL v3. Our implementation can be
            found
            <a
              href="https://github.com/osuAkatsuki/lets/src/master/pp/wifipiano2.py">
              here
            </a>
            .
          </li>
          <li>
            {{ .T "<b><a href='https://ripple.moe'>Ripple</a></b>, for a stable base to build off of - we would not exist without your work." | html }}
          </li>
          <li>
            {{ .T "<b><a href='https://akatsuki.gg/u/1003'>rumoi</a></b>, for his work on <a href='https://github.com/rumoi/ruri'>ruri</a>, and our anticheat." | html }}
          </li>
          <li>
            {{ .T "<b><a href='https://akatsuki.gg/u/1776'>Mempler</a></b>, for <b><a href='https://pisstau.be'>pisstau.be</a></b>, and for taking care of the server." | html }}
          </li>
          <li>
            {{ .T "<b><a href='https://akatsuki.gg/u/1317'>Ewick</a></b>, for designing Akatsuki's logo." | html }}
          </li>
          <li>
            {{ .T "<b><a id='everyone' class='clickable'>Everyone</a></b> who has supported Akatsuki with donations." | html }}
          </li>
        </ul>
      </div>
    </div>
    {{ $ := . }}
    {{ .T "Looking for a means of contacting the team? We have a public <a href='/discord'>Discord</a> for support!" | html }}
    <div class="ui modal">
      <div class="header">
        <h2 class="ui header">
          {{ .T "They told me these are very cool people." }}
        </h2>
      </div>
      <div class="content">
        {{ template "users" (.Get "badges/members?id=%d" 59) }}
        <!-- Probably most shit coded part of Hanayo -->
        <br />
        <div class="centered">
          <br />
          <br />
          <b>{{ $.T "Do you want to be in this list?" }}</b>
          <br />
          <a href="/premium"><b>{{ $.T "Become a premium member!" }}</b></a>
          <br />
          <i>{{ $.T "(You get other cool perks too)" }}</i>
        </div>
      </div>
    </div>
  </div>
{{ end }}
