{{/* prettier-ignore-start */}}
{{/*###
Handler=/terms
TitleBar=Akatsuki Terms of Service
BannerContent=documentation.jpg
BannerType=1
HugeHeadingRight=true
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <p>
    Thank you for playing on Akatsuki! By participating in our community, 
    you agree to follow the Terms and Conditions listed below.
  </p>

  <ul>
    <li>
      Absolutely no botting, cheating, or hacking. This includes any method 
      that involves giving yourself an unfair advantage over other players, 
      be that with third-party tools or otherwise.
    </li>
    <li>
      If you know of someone breaking the rules, report them in-game or in our 
      discord. Knowingly helping someone who breaks our terms of service may 
      lead to removal from our services.
    </li>
    <li>
      You may only have one account on Akatsuki. Creating or accessing multiple
      accounts will lead to those accounts being disabled and your first account
      being restricted. If for some reason you need more than one account, please 
      contact us directly.
    </li>
    <li>
      Do not try to exploit bugs found on the server, report them to a developer
      immediately for a fair reward.
    </li>
    <li>
      All communications on our Discord and in-game public chats must be in 
      English, except for the #mr-worldwide channel on the Discord server.
    </li>
    <li>
      Treat all members of Akatsuki with respect. Do not harass others, 
      insult people without warrant, or be excessively toxic/bigoted.
    </li>
    <li>
      Do not discuss cheating or other servers. Discussions involving the 
      breaking of any US or international law will result in an immediate ban 
      and, if necessary, a report to relevant authorities.
    </li>
    <li>
      Occasionally sending links to your Youtube/Twitch when you’re streaming
      or creating content for Akatsuki is fine, but do not spam or flood links
      on our Discord or on in-game public chats.
    </li>
    <li>
      Do not use NSFW and/or offensive avatars/userpage content, this includes
      photosensitive, jumpscare, or otherwise overly loud content that may be 
      harmful to some users.
    </li>
    <li>
      Do not advertise messaging channels/your server (Telegram, Discord, etc.) 
      anywhere on our platform. Users caught sending unsolicited invitations to 
      these platforms will be subject to punishment up to and including permanent 
      restriction.
    </li>
    <li>
      Do not impersonate any user, especially staff. This is enforced quite
      heavily.
    </li>
    <li>
      Do not cause unneeded drama. Use the appropriate channels to report 
      rule breaking, hackusating in public channels is not allowed. Complaining 
      about a user’s ban in public channels is also disallowed.
    </li>
    <li>
      Purchasing anything from Akatsuki does not mean that you are immune from
      the rules.
    </li>
    <li>
      Akatsuki services are meant for users that are 13 years of age or older.
      If you are under 13, do not use our services without parental consent.
    </li>
    <li>
      Practice common sense. If a staff member asks you to do something, it is
      in your best interests to comply.
    </li>
  </ul>

  <p>
    Don’t abuse our patience; while we try to best satisfy our users’ needs, 
    if you repeatedly infringe our rules or abuse services provided by the staff 
    (e.g. appealing and/or name changing) (with particular regard to users who also 
    disrespect our staff’s efforts, passively or actively, or are otherwise toxic 
    within the community), we will first warn you, and if it comes to it we will 
    offer an ultimatum.If you refuse or otherwise don’t change your behaviour, 
    we’ll have no choice but to ban you. If you are found damaging the server 
    directly - attempted attacks, chargebacks, hacking users, etc.; your entire 
    account will be removed with no chance of being recovered ever.
  </p>

  <p>
    Note that the Akatsuki team reserves the right to disable your access to the game, 
    website, Discord server, or any service provided by Akatsuki without any warning, 
    at staff members’ discretion. You may not hold Akatsuki liable for any consequences 
    that may happen due to your participation in or consumption of any good/service 
    provided by Akatsuki. The Akatsuki team may change this list of rules at any time, 
    with or without any notice. New rules may or may not be retroactive at our own 
    discretion.
  </p>
{{ end }}
