{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<img width="25%" height="25%" src="/static/512x512.png">
			<h1 class="ui no bottom margin header">
				{{ .T "Welcome to Atoka." }}
			</h1>
			<div class="about subtitle">{{ .T "Atoka is a private osu! server." }}<br>
			{{ .T "There are many like it, but this one is different from the others." }}<br>
			{{ .T "We allow cheats. Go on. Farm that sweet PP to your heart's content." }}</div>
		</div>
		<div class="ui segment">
			<img src="/static/about/intro.jpg">
			<div class="about title twemoji">{{ .T "Do you like memes? %s" "<img src='https://static-cdn.jtvnw.net/emoticons/v1/25/1.0'>" | html }}</div>
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "We have leaderboards." }}
			</h1>
			<img src="/static/about/leaderboards.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Online user listing." }}
			</h1>
			<img src="/static/about/onlineusers.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Free osu!direct." }}
			</h1>
			<img src="/static/about/osudirect.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui no bottom margin header">
				{{ .T "Global leaderboards." }}
			</h1>
			<p class="about subtitle">{{ .T "and PP for all game modes" }}</p>
			<img src="/static/about/global_leaderboards.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Ranking queue for unranked beatmaps." }}
			</h1>
			<img src="/static/about/request_beatmaps.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Spectator." }}
			</h1>
			<img src="/static/about/spectator.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Multiplayer." }}
			</h1>
			<img src="/static/about/multi.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Mirai, our chat bot" }}
			</h1>
			<p class="about subtitle">{{ .T "with plenty of functions for just about anything, <a href=\"/doc/4\">check it out!</a>" | html }}</p>
			<img src="/static/about/foka.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "And a lot more to come!" }}
			</h1>
			<p class="about title">
				{{ .T "Atoka is the result of the hard work of two inexperienced developers, who got tired of that other cheater server's administrators." }}
			</p>
			<p class="about title twemoji">
				{{ .T "Atoka is small right now, but we hope to grow our community, it might take a while, but we'll get there. <a href=\"/register\">Signing Up</a> on Atoka won't result in getting your account on osu! restricted, so what are you waiting for?! Come join us! %s" "😉" | html }}
			</p>
			<p class="about subtitle">
				{{ .T "In case you want to make sure we're not doing shady stuff with your data, you can also check the <a href=\"https://github.com/osuatoka\">source code</a> Atoka is running on." | html }}
			</p>
		</div>
	</div>
</div>
{{ end }}
