{{/*###
TitleBar=About
*/}}
{{ define "tpl" }}
		<div id="content">
			<div id="AtokaAdv">
				<link onload="onLoad()" rel="stylesheet" href="/static/css/atokaadv.css">
				<div class="ui container">
					<div class="col-lg-12">
						<div class="head-block">
							<div class="head-text">
								About us
							</div>
							<div class="head-text2">
								osu!Atoka is an alternative server for osu! nurtured in cheating side of the osu!community. An alternative server enables you to have a legal second account in osu! with its own scores and pp. Wanna try out some new cheats you found? Maybe just want to do something risky like cheating, but with no consequences (besides our <a href="/doc/rules">rules</a>)? Or maybe you just wanna escape from the noisy bancho to a cosy server where noone knows you and there are less people on leaderboard most of which you will meet personally in-game? Banned on official server? Register on Atoka today!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-block">
							<div class="main-text-lg">
								PP for relax
							</div>
							<div class="main-text-sm main-text-sm">
								The relax mod gives PP!<br>Are you good at waving a cursor around? Join Atoka and get a fair reward for your skills! (Heh heh, gimme that pp!)
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-direct">
							<div class="main-text-lg">
								Free osu! direct
							</div>
							<div class="main-text-sm">
								You won't have to pay for osu!supporter to have convenient gameplay experience in the client - osu!direct is available for everyone! Our supporter still grants a huge set of cool perks but absense of it doesn't affect your gameplay!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-clan">
							<div class="main-text-lg">
								Clans
							</div>
							<div class="main-text-sm">
								Atoka has a clans system! Join your friends to climb up the team rankings with a collaborative effort!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-social main-block">
							<div class="main-text-lg">
								Active admins
							</div>
							<div class="main-text-sm main-text-sm">
								Admins are actively participating in the server life, most of them are reachable through popular apps with PM, such as Discord. We have a YouTube channel which is prodominately ran by our Administrators. Where they post compilations of amazing scores set on Atoka! We are always workng to bring players a even more fun experience in osu! and on Atoka.
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-mod">
							<div class="main-text-lg">
								Unique moderation policy
							</div>
							<div class="main-text-sm">
								Atoka has a very unique moderation policy. Moderators are able to decide most punishments with their own discretion. This gives you, the user, the option to say that the prosecuter is incorrect. Giving you a chance to prove your innocence.
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-listing">
							<div class="main-text-lg">
								Beatmap listing
							</div>
							<div class="main-text-sm">
								We have a <a href="/beatmaps">beatmap listing</a> page! View all those juicy pp maps on our website!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-rank">
							<div class="main-text-lg">
								Rank requests
							</div>
							<div class="main-text-sm">
								Request beatmaps to be ranked directly from our website! It will be viewed and possibly ranked by our phenomenal BAT team!
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
{{ end }}
