{{ define "base" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ if .TitleBar }}{{ .T .TitleBar }} - {{ end }}Akatsuki</title>

		<link rel="stylesheet" type="text/css" href="/static/{{ if $ds }}dark/{{ end }}semantic.min.css?{{ unixNano }}">
		<link rel="stylesheet" type="text/css" href="/static/ripple.css?{{ unixNano }}">
		<link rel="stylesheet" type="text/css" href="/static/snow/snow.css?{{ unixNano }}">
		<link rel="stylesheet" type="text/css" href="/static/css/beatmaps.dfc480ea.chunk.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
	</head>
	<body {{ if $ds }} class="ds"{{ end }}>
		{{/*
			If we're asked to disable the hugeheading, but a KyutGrill is set, it will become the background of the page.
			This is mainly used in user profiles, allowing users to set their profile background.
			If we're asked to disable the hugeheading, and a KyutGrill is not set, navbar has the `dropped` class.
		*/}}
		<div class="ui full height main wrapper"
			{{ if and .DisableHH .KyutGrill }}
				style="background-image: url('{{ if .KyutGrillAbsolute }}{{ .KyutGrill }}{{ else }}/static/headers/{{ .KyutGrill }}{{ end }}');"
			{{ else if .SolidColour }}
				style="background-color: {{ .SolidColour }}"
			{{ end }}>
			{{ template "navbar" . }}
			{{ if not .DisableHH }}
				<div class="huge heading {{ if .HeadingOnRight }}right{{ end }} dropped"
					style="background-image: url('{{ if .KyutGrillAbsolute }}{{ .KyutGrill }}{{ else }}/static/headers/{{ or .KyutGrill "default.jpg" }}{{ end }}');">
					<div id="snow-container">
						<div>
							<div class="snow large"></div>
							<div class="snow large delayed"></div>

							<div class="snow medium"></div>
							<div class="snow medium delayed"></div>

							<div class="snow small"></div>
							<div class="snow small delayed"></div>
						</div>
					</div>
					<div class="ui container">
						<h1>{{ if .HeadingTitle }}{{ .T .HeadingTitle | html }}{{ else }}{{ .T .TitleBar }}{{ end }}</h1>
					</div>
				</div>
			{{ end }}

			<div class="h-container">
				<div class="ui margined container" id="messages-container">
				<noscript>Research has proven this website works 10000% better if you have JavaScript enabled.</noscript>
				{{ if and .Context.User.Username (not (has .Context.User.Privileges 1)) }}
					<div class="ui warning message">
						{{ $.T "Your account is currently in restricted mode, and will not be able to perform certain actions. Your profile has been hidden from normal users. If you believe this was a mistake (or have waited more than 2 months since your latest offense), you may appeal using <a href='https://goo.gl/forms/qDBIMgcvpFLWCNwf2'>this form</a>." | html }}
					</div>
				{{ end }}
				{{ if .Messages }}
						{{ range $i, $v := .Messages }}
							<div class="ui {{ $v.Type }} message">
								<i class="close icon"></i>
								{{ html $v.Content }}
							</div>
						{{ end }}
				{{ end }}
				{{ $settings := systemSettings "website_maintenance" "game_maintenance" "website_global_alert" }}
				{{ with $settings.website_global_alert.String }}
					<div class="ui info message">
						{{ . | html }}
					</div>
				{{ end }}
				{{ with $settings.game_maintenance.Int }}
					<div class="ui warning message">
						{{ $.T "Akatsuki's score submission is currently in maintenance mode. You will not be allowed to submit scores for the time being." }}
					</div>
				{{ end }}
				{{ with $settings.website_maintenance.Int }}
					<div class="ui warning message">
						{{ $.T "The Akatsuki website is currently in maintenance mode, and access has been limited for normal users." }}
					</div>
				{{ end }}
				</div>
				{{ template "tpl" . }}
			</div>

		</div>
			<div class="footer-bg">
				<div class="ui container">
					<div class="ui internally celled grid">
						<div class="row">
							<div class="three wide column">
								<div class="footer-info-block">
									<a class="footer-title">Help</a>
									<ul style="list-style-type: none; padding: 0; margin: 0;">
										<li>
											<a href="/doc/rules">Rules</a>
										</li>
										<li>
											<a href="/static/switcher.zip">Switcher</a>
										</li>
										<li>
											<a href="/doc/connection_guide">Connection Guide</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="three wide column">
								<div class="footer-info-block">
									<a class="footer-title">Socials</a>
									<ul style="list-style-type: none; padding: 0; margin: 0;">
										<li>
											<a href="/discord" target="_blank">Discord</a>
										</li>
										<li>
											<a href="https://www.youtube.com/channel/UCjf8Fx_BlUr-htEy6hficcQ" target="_blank">YouTube</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="three wide column">
								<div class="footer-info-block">
									<a class="footer-title">About Us</a>
									<ul style="list-style-type: none; padding: 0; margin: 0;">
										<li>
											<a href="/team">Team</a>
										</li>
										<li>
											<a href="https://github.com/osuAkatsuki" target="_blank">GitHub</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="three wide column" style="padding-top: 3em;">
								<div class="dropup dropup-language dropup-block">
									{{ $lang := .Context.Language }}
									<div class="language">
									{{ with $lang }}
										{{ $info := languageInformationByNameShort . }}
										{{ $info.Name }}
										<img src="/static/images/flags/{{ $info.CountryShort }}.png" class="dropup-flags">
									{{ else }}
										English
										<img src="http://akatsuki.pw/static/images/flags/us.png" class="dropup-flags">
									{{ end }}
									</div>
									<div class="dropup-content">
										{{ range languageInformation }}
											<li class="language-select {{ if eq .NameShort $lang }}selected{{ end }}" data-lang="{{ .NameShort }}">
												{{ .Name }}
												<img src="/static/images/flags/{{ .CountryShort }}.png" class="dropup-flags">
											</li>
										{{ end }}
									</div>
								</div>
							</div>
							<div class="one wide column" style="box-shadow: 0 0 0 0;"></div>
							<div class="footer-logo">
								<span>osu!Akatsuki</span>
								<br><br>
								<a class="subtitle"> osu! private server</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<script>
			var hanayoConf = {
				avatars:   {{ .Conf.AvatarURL }},
				banchoAPI: {{ .Conf.BanchoAPI }},
				baseAPI:   {{ .Conf.BaseAPIPublic }},
				cheesegullAPI: {{ .Conf.CheesegullAPI }},
			};
			var currentUserID = {{ .Context.User.ID }};
		</script>
		<script>
			$(".language-select").on('click', function(event){
			    event.stopPropagation();
			    event.stopImmediatePropagation();
				var lang = $(this).data("lang");
				document.cookie = "language=" + lang + ";path=/;max-age=31536000";
				window.location.reload()
			});
		</script>
		{{/* If we got some more scripts to print, print'em */}}
		<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
		<script src="/static/dist.min.js?{{ unixNano }}"></script>
		{{ if .Scripts }}
			{{ range .Scripts }}
				<script src="{{ . }}?{{ unixNano }}"></script>
			{{ end }}
		{{ end }}
	</body>
</html>
{{ end }}
