{{/*###
Handler=/clans
TitleBar=Clans
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{ $favModeRaw := .Get "users/self/favourite_mode" }}
	{{ $favMode := _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
	<script>
		var favouriteMode = {{ $favMode }};
		var rx = {{ or (.Gin.Query "rx") 0 }};
		var page = {{ .Gin.Query "p" | atoint | atLeastOne }};
	</script>
	<div class="ui two item menu" id="rx-menu">
			<a class="0 item" data-rx="0" href="/clans?rx=0">Regular</a>
			<a class="1 item" data-rx="1" href="/clans?rx=1">Relax</a>
	</div>

	<div class="ui four item menu" id="mode-menu">
		{{ range $k, $v := modes }}
			<a class="{{ favMode $favMode $k }}item" data-mode="{{ $k }}" href="/clans?mode={{ $k }}">{{ $v }}</a>
		{{ end }}
	</div>
	<table class="ui fixed table">
		<thead>
			{{ template "simplepag" 5 }}
			<tr>
				<th class="two wide"> {{ .T "Rank" }} </th>
				<th class="four wide">{{ .T "Clan" }} </th>
				<th class="four wide"> Performance (Score) </th>
				<th class="three wide">{{ .T "Accuracy" }} </th>
				<th class="three wide">{{ .T "Playcount" }} </th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			{{ template "simplepag" 5 }}
		</tfoot>
	</table>
</div>
{{ end }}
