{{/*###
Include=clan_member.html
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{ if .ClanID }}
		{{ $global := . }}
		{{ $favModeRaw := .Get "users/self/favourite_mode" }}
		{{ $favMode := _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
		{{ $rx := _or (atoi (.Gin.Query "rx")) (has .ClientFlags 2) }} <!-- idk (it works) -->
		{{ with (.Get "clans?id=%d" .ClanID).clan }}
			<script>
				window.favouriteMode = {{ $favMode }};
				window.rx = {{ $rx }};
				window.clanID = {{ .id }};
			</script>
			<div class="ui top attached segment overflow auto aligned">
				<div class="magic table">
					{{ if ne .icon "" }}
					<div class="table element">
						<img src="{{ .icon }}" alt="icon" class="clan icon" style="border-radius:5%; height:90px;">
					</div>
					{{ end }}
					<div class="table element">
						<h1 class="ui header">
							{{ .name }}
						</h1>
						<div class="subtitle">
							{{ .tag }}
						</div>
					</div>
				</div>
			</div>
			<div class="ui three item bottom attached menu" id="rx-menu">
				<a class="0 item{{ if (not $rx) }} active{{ end }}" data-rx="0" href="/c/{{ .id }}?rx=0">Vanilla</a>
				<a class="1 item{{ if $rx }} active{{ end }}" data-rx="1" href="/c/{{ .id }}?rx=1">Relax</a>
				<a class="2 item{{ if $rx }} active{{ end }}" data-rx="2" href="/c/{{ .id }}?rx=2">Autopilot</a>
			</div>
			{{ $clan := . }}
			<div class="ui four item bottom attached menu" id="mode-menu">
				{{ range $k, $v := modes }}
					<a class="{{ favMode $favMode $k }}item" data-mode="{{ $k }}" href="/c/{{ $clan.id }}?mode={{ $k }}">{{ $v }}</a>
				{{ end }}
			</div>
			<div class="ui segment">
				<div class="ui two column divided stackable grid">
					<div class="row">
						<div class="column">
							{{ (.description | htmlescaper) }}
							<br><br>
							{{ range $k, $v := modes }}
								<div data-mode="{{ $k }}" {{ if or (ne $k (int $favMode)) ($rx) }}hidden{{ end }}>
									<table class="ui very basic two column compact table nopad">
										<tbody id="{{ $k }}">
										</tbody>
									</table>
								</div>
							{{ end }}
							{{ range $k, $v := modes }}
								<div data-mode="{{ $k }}r" {{ if or (ne $k (int $favMode)) (not $rx) }}hidden{{ end }}>
									<table class="ui very basic two column compact table nopad">
										<tbody id="{{ $k }}r">
										</tbody>
									</table>
								</div>
							{{ end }}
						</div>
						<div class="column">
							{{ if $global.Context.User.ID }}
								<!-- Get clan data -->
								{{ $d := qb "SELECT clan_id FROM users WHERE id = ? AND clan_id <> 0" $.Context.User.ID }}
								{{ if $d }}
									<!-- In this clan -->
									{{ if eq $d.clan_id.Int $.ClanID }}
										<!-- Is owner (disband) -->
										{{ if eq (int $clan.owner) (int $.Context.User.ID) }}
											<div class="ui one item menu" id="leave-btn"><a class="item" style="background-color:rgba(255,0,0,.5)">Disband</a></div>
										<!-- Not owner (leave) -->
										{{ else }}
											<div class="ui one item menu" id="leave-btn"><a class="item" style="background-color:rgba(255,0,0,.3)">Leave</a></div>
										{{ end }}
									<!-- In another Clan -->
									{{ else }}
										<div class="ui one item menu"><a class="item" style="background-color:rgba(255,0,0,.3)">Already in another Clan</a></div>
									{{ end }}
								<!-- No Clan (join) -->
								{{ else }}
									{{ if eq .status 0.0 }}
										<div class="ui one item menu"><a class="item" style="background-color:rgba(255,0,64,.3)">Closed.</a></div>
									{{ else if eq .status 1.0 }}
										<div class="ui one item menu" id="join-btn"><a class="item" style="background-color:rgba(0,255,128,.3)">Join</a></div>
									{{ else if eq .status 2.0 }}
										<div class="ui one item menu" id="inv-btn"><a class="item" style="background-color:rgba(255,64,64,.3)">Ask for Invite</a></div>
										<script>
											$("#inv-btn>.item").click(function(e) {
												e.preventDefault();
												if (!currentUserID) return;
												
												var inv = prompt("Enter the Clan's Invite");
												
												if (inv == null || inv == "") return;
												
												var btn = $(this);
												joinClan({invite: inv}, btn);
											});
										</script>
									{{ end }}
								{{ end }}
							{{ else }}
								<div class="ui one item menu"><a class="item" href="/login" style="background-color:rgba(0,128,255,.3)">Please login to join a clan</a></div>
							{{ end }}

							<h1 class="ui heading">{{ $global.T "Clan Owner" }}</h1>
							<p>
								{{ $.T "The leader of the clan." }}<br>
							</p>
							<div class="ui two column center aligned stackable grid">
								{{ template "clanMember" ($.Get "users?id=%v" $clan.owner) }}
							</div>
						</div>
					</div>
				</div>
				<div class="ui aligned segment">
					<h1 class="ui heading">{{ $.T "Members" }}</h1>
					<p>
						{{ $.T "The members of the clan." }}<br>
					</p>
					{{ template "clanMembers" ($.Get "clans/members?id=%v" (int $.ClanID)) }}
				</div>
			</div>
		{{ end }}
	{{ end }}
</div>
{{ end }}
