{{/*###
NoCompile=true
*/}}
{{ define "clanMember" }}
	{{ if . }}
		<div class="column">
			<div class="ui left aligned fluid card">
				<div class="image">
					<img src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar">
				</div>
				<div class="content">
					<a class="header" href="/u/{{ .id }}">{{ if .country }}{{ country .country false }}{{ end }}{{ .username }}</a>
				</div>
				{{ if .registered_on }}
					<div class="extra content">
						<div title="Registered">
							<i class="sign in icon"></i>
							{{ time .registered_on }}
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	{{ end }}
{{ end }}

{{ define "clanMembers" }}
	<div class="ui three column center aligned stackable grid" id="members">
	{{ with .clan }}
		{{ $c := . }}
		{{ range .members }}
			{{ if ne .id $c.owner }}
				{{ template "clanMember" . }}
			{{ end }}
		{{ end }}
	{{ end }}
	</div>
{{ end }}
