{{/*###
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
    <div id="content">
        <div id="home">
            <link onload="onLoad()" rel="stylesheet" href="/static/css/home.css">
            <div class="container">
                <div class="col-lg-12">
                    <div class="main-block">
                        <div class="mirai"></div>
                        <div class="content">
                            <div class="status">
                                {{ range $key, $value := (qb "SELECT COUNT(*) FROM users WHERE privileges >= 3") }}
                                <span>
                                    <span style="color: #2094ca;" class="counter-text"> {{ $value }} </span> total users
                                </span>
                                {{ end }}
                                <span style="margin-left: 16px;">
                                    <span class="counter-text"> {{ rediget "ripple:online_users" }} </span> online users
                                </span>
                            </div>
                            <br>
                            <span class="text-lg">
                                osu!Akatsuki
                            </span>
                            <br>
                            <span class="text-sm">
                                Welcome {{ if not .Context.User.ID }}{{ else }}back {{ end }}to the best osu! private server, Akatsuki! On this website you will find all the information regarding the osu!Akatsuki server: players, leaderboards, beatmaps, how to start playing, and much more. {{ if not .Context.User.ID }}{{ else }}But you probably already knew that.{{ end }}
                            </span>
                            <div class="buttons">
                                <a href="{{ if not .Context.User.ID }}/register{{ else }}/u/{{ .Context.User.ID }}{{ end }}" class="home-btn btn-key">{{ if not .Context.User.ID }} register here {{else}} view profile {{ end }} </a>
                                <a href="{{ if not .Context.User.ID }}/doc/connection_guide{{ else }}/leaderboard{{ end }}" class="home-btn btn-how" style="margin-left: 6px;">{{ if not .Context.User.ID }} how to connect {{ else }} view leaderboards {{ end }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ $set := systemSettings "website_home_alert" }}
    {{ with $set.website_home_alert.String }}
    <div class="ui warning message">
        {{ . | html }}
    </div>
    {{ end }}

    <!--div class="ui purple center aligned segment">
        <h1 class="ui center aligned header">{{ .T "Featured Video" }}</h1>
        <div class="column twelve wide">
            {{/* Grab the latest video from Akatsuki Replays YouTube Channel */}}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="../static/js/featured_video.js"></script>
            <iframe height="315" width="50%" id="featured_video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{/* V That's the most wack line of a mix of html and template, I have ever written -Night V */}}
            <p>{{ .T "Thanks to My Angel DT! <3<br><b>Note: This takes up to 4 hours after upload to update due to YouTube's API.<br>Also due to NGINX and Cloudflare's cache.</b>" | html }}</p>
        </div>
    </div-->

    <br>

    {{/* Global Statistics */}}
    <div class="ui stackable four grid">
        <div class="five wide column">
            <div class="ui blue segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="user icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ range $key, $value := (qb "SELECT COUNT(*) FROM users WHERE privileges & 1 > 0") }}
                        <p class="status-head">{{ rediget "ripple:online_users" }} / {{ $value }}</p>
                        {{ end }}
                        <p class="status-footer">Online / Registered users</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui orange segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="user plus icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ range $key, $value := (qb "SELECT username FROM users WHERE privileges & 1 ORDER BY id DESC LIMIT 1") }}
                        <p class="status-head">{{ $value }}</p>
                        {{ end }}
                    <p class="status-footer">Latest player</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui red segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="thumbs up outline icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ $d := (qb "SELECT ROUND(scores_relax.pp) AS pp, users.username, scores_relax.userid FROM scores_relax LEFT JOIN beatmaps ON beatmaps.beatmap_md5 = scores_relax.beatmap_md5 LEFT JOIN users ON users.id = scores_relax.userid WHERE users.privileges & 1 > 0 AND scores_relax.completed = 3 AND scores_relax.play_mode = 0 AND beatmaps.ranked = 2 ORDER BY scores_relax.pp DESC LIMIT 1") }}
                       <p class="status-head">{{ $d.pp }}pp</p>
                       <p class="status-footer">Top score (Relax)</p>
                       <p class="status-head" style="font-size: 12px!important;">Done by <a href="/rx/u/{{ $d.userid }}">{{ $d.username }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui pink segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle double right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        <p class="status-head">{{ .T "%s" (rediget "ripple:submitted_scores") | html }}</p>
                        <p class="status-footer">Total scores (Vanilla)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui yellow segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        <p class="status-head">{{ .T "%s" (rediget "ripple:submitted_scores_relax") | html }}</p>
                        <p class="status-footer">Total scores (Relax)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui green segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="thumbs up icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ $d := (qb "SELECT ROUND(scores.pp) AS pp, users.username, scores.userid FROM scores LEFT JOIN beatmaps ON beatmaps.beatmap_md5 = scores.beatmap_md5 LEFT JOIN users ON users.id = scores.userid WHERE users.privileges & 1 > 0 AND scores.completed = 3 AND scores.play_mode = 0 AND beatmaps.ranked = 2 ORDER BY scores.pp DESC LIMIT 1") }}
                       <p class="status-head">{{ $d.pp }}pp</p>
                       <p class="status-footer">Top score (Vanilla)</p>
                       <p class="status-head" style="font-size: 12px!important;">Done by <a href="/u/{{ $d.userid }}">{{ $d.username }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> {{/* Global Stats end past this /div */}}
</div>
{{ end }}