{{/*###
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}

<head>
    {{/* Meta tags */}}
    <meta property="og:title" content="home | osu!Akatsuki" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://akatsuki.pw"/>
    <meta property="og:image" content="/static/logos/logo.png"/>
    <meta property="og:site_name" content="Akatsuki"/>
    <meta property="og:description" content="Akatsuki is an osu! private server mainly based around the relax mod - featuring score submission, leaderboards & rankings, custom pp, and much more for relax, autopilot and vanilla osu!"/>

    {{/* Twitter-specific stuff */}}
    <meta name="twitter:title" content="home | osu!Akatsuki" />
    <meta name="twitter:image" content="/static/logos/logo.png" />
    <meta name="twitter:url" content="https://akatsuki.pw" />
    <meta name="twitter:card" content="" />
</head>

<link rel="stylesheet" href="/static/css/pages/home.css">

<div class="masthead segment bg14">
    <div class="ui container">
      <div class="introduction">
        <div class="ui header small-lineh">
          <div class="library">
            osu!<b>Akatsuki</b>
          </div>
          <div class="tagline">
            <b>Welcome to osu!Akatsuki.</b> We are an osu! private server mainly based around the relax mod - featuring score submission, leaderboards &amp; rankings, custom pp, and much more for relax, autopilot and vanilla osu!. We have a massive dedicated community between both our osu! and <a href="/discord">Discord</a> servers.
          </div>
        </h1>
        <div class="buttons">
            <a class="ui small pink button">Register</a>
            <a class="ui small blue button">Login</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="ui container">
    {{ $set := systemSettings "website_home_alert" }}
    {{ with $set.website_home_alert.String }}
    <div class="ui warning message">
        {{ . | html }}
    </div>
    {{ end }}
    <br>

    {{/* Global Statistics */}}
    <div class="ui stackable four grid">
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        <p class="status-head">{{ .T "%s" (rediget "gulag:submitted_scores_relax") | html }}</p>
                        <p class="status-footer">Total scores (Relax)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        <p class="status-head">{{ .T "%s" (rediget "gulag:submitted_scores") | html }}</p>
                        <p class="status-footer">Total scores (Vanilla)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        <p class="status-head">{{ .T "%s" (rediget "gulag:submitted_scores_autopilot") | html }}</p>
                        <p class="status-footer">Total scores (Autopilot)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle double right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ $d := (qb "SELECT ROUND(scores_rx.pp) AS pp, users.name, scores_rx.userid FROM scores_rx LEFT JOIN maps ON scores_rx.map_md5 = maps.md5 LEFT JOIN users ON users.id = scores_rx.userid WHERE users.priv & 1 AND scores_rx.status = 2 AND scores_rx.mode = 0 AND maps.status = 2 ORDER BY scores_rx.pp DESC LIMIT 1") }}
                        <p class="status-head">{{ $d.pp }}pp</p>
                        <p class="status-footer">Top score (Relax)</p>
                        <p class="status-head" style="font-size: 12px!important;">Played by <a href="/u/{{ $d.userid }}?rx=1">{{ $d.name }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle double right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ $d := (qb "SELECT ROUND(scores_vn.pp) AS pp, users.name, scores_vn.userid FROM scores_vn LEFT JOIN maps ON scores_vn.map_md5 = maps.md5 LEFT JOIN users ON users.id = scores_vn.userid WHERE users.priv & 1 AND scores_vn.status = 2 AND scores_vn.mode = 0 AND maps.status = 2 ORDER BY scores_vn.pp DESC LIMIT 1") }}
                        <p class="status-head">{{ $d.pp }}pp</p>
                        <p class="status-footer">Top score (Vanilla)</p>
                        <p class="status-head" style="font-size: 12px!important;">Played by <a href="/u/{{ $d.userid }}?rx=1">{{ $d.name }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column less-pad">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <i class="angle double right icon status-icon"></i>
                    </div>
                    <div class="twelve wide column">
                        {{ $d := (qb "SELECT ROUND(scores_ap.pp) AS pp, users.name, scores_ap.userid FROM scores_ap LEFT JOIN maps ON scores_ap.map_md5 = maps.md5 LEFT JOIN users ON users.id = scores_ap.userid WHERE users.priv & 1 AND scores_ap.status = 2 AND scores_ap.mode = 0 AND maps.status = 2 ORDER BY scores_ap.pp DESC LIMIT 1") }}
                        <p class="status-head">{{ $d.pp }}pp</p>
                        <p class="status-footer">Top score (Autopilot)</p>
                        <p class="status-head" style="font-size: 12px!important;">Played by <a href="/u/{{ $d.userid }}?rx=1">{{ $d.name }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> {{/* Global Stats end past this /div */}}
</div>
{{ end }}
