{{/*###
Handler=/patcher
TitleBar=Akatsuki Patcher
KyutGrill=documentation.jpg
*/}}
{{ define "tpl" }}
<!-- 
    RealistikDash was here. 
    I suck at design....
-->
<div class="ui container">
    <div class="ui segment">
        <div class="ui raised segments">
        <h4 class="ui horizontal divider header"><i class="star icon"></i>Akatsuki Patcher</h4>
        <h3 style="text-align: center;">
            Akatsuki Patcher is a simple tool made to enhance your Akatsuki Relax experience!
            It restores critical features such as ranking panels to your relax gameplay,
            sweetening the already great experience. Simply run the executable alongside your game and restore the
            flavour or normal gameplay!
        </h3>
        <hr>
        <div class="ui stackable column grid">
            <div class="eight wide column">
                <center><h2>Enable Relax Misses</h2></center>
                <img src="/static/images/akatpatcher_misses.jpg" style="padding: 1.1em;">
            </div>
            <div class="eight wide column">
                <center><h2>Show Relax Ranking Panels</h2></center>
                <img style="padding: 1.1em;" src="/static/images/akatpatcher_panels.jpg">
            </div>
        </div>
    </div>
</div>

<div class="ui segment" style="text-align: center;">
    <div class="ui raised segments center aligned">
        <h4 class="ui horizontal divider header"><i class="save icon"></i>Download</h4>
        <h5 style="text-align: center;">Akatsuki patcher is a single executable and requires no manual client modification! Download now!</h5>
        <a class="ui green button" href="/static/akatsukiPatcher.exe">
            <i class="angle double down icon"></i> 
            Download
        </a>
    </div>
</div>
</div>
{{ end }}