{{/*###
Handler=/premium
TitleBar=Support Akatsuki (Premium)
KyutGrill=fundmyautism.jpg
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css" rel="stylesheet" type="text/css">
<div class="ui container">
	{{ $ief := ieForm .Gin }}
		<div class="ui segment">
			<h1 class="ui center aligned header">
				{{ $.T "So, what makes it better than Supporter?" }}
				<div class="sub header">
					{{ $.T "Well, it has many additional perks." }}
				</div>
			</h1>
			<h4 class="ui horizontal divider header">
				{{ $.T "Here's what you get:" }}
			</h4>
			<div class="ui internally celled stackable grid">
				<div class="row">
					<div class="eight wide column">
						<h3 class="ui header">{{ $.T "Multi-colored username on the website" }}</h3>
						{{ $.T "Just like in osu!, you get a <b>shiny yellow username (with a blue trim)</b> on the website to show everyone you're a really cool dude who has gone above and beyond in helping us pay the server bills." | html }}
					</div>
					<div class="eight wide column">
						<h3 class="ui header">{{ $.T "Gif/Video Backgrounds" }}</h3>
						{{ $.T "You'll be able to take a step up from regular supporters, and <b>set your custom background to an Animated version</b>." | html }}
					</div>
				</div>
				<div class="row">
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Being able to use channel-limited commands, anywhere" }}</h3>
						{{ $.T "Premium members have the ability to override channel-limited commands, such as !request, !last, and more; and <b>can use them anywhere</b>." | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Premium badge" }}</h3>
						{{ $.T "Again, just like in osu!, you will get a <b>premium badge</b> on your profile, to show everyone you're supporting us!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "#admin access in-game" }}</h3>
						{{ $.T "Now you'll be able to keep up with all the latest drama, restrictions, reports, and all! This way you can <b>keep updated with the server's management and development</b>." | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Many other features.." }}</h3>
						{{ $.T "Premium actually comes with far too many features to fit on this page.. so why not make it interesting to leave them for you to find? Have fun and enjoy the Premium life!" }}
					</div>
				</div>
			</div>
			{{ if $global.User.ID }}
				<h4 class="ui horizontal divider header">
					{{ $.T "Premium members have many, hidden, smaller features aswell. And of course, all regular supporter perks are included in Premium as well!" }}
				</h4>
				<p>
					{{ $.T "You may donate through <b>PayPal</b> (or credit/debit card linked to PayPal). Use the slider below to choose the amount of months you'd like to have the premium benefits, and the cost will be instantly calculated. The more months you purchase, the bigger the discount will be." | html }}
				</p>
				<div id="months-slider" style="margin: 0 auto; max-width: 500px"></div>
				<br>
				<div id="cost" class="centered"><b>{{ $.T "Loading..." }}</b></div>
				<br>
				<div class="ui internally celled two column center aligned stackable grid">
					<div class="column">
						<h2 class="ui header">
							<i class="paypal icon"></i>
							{{ $.T "PayPal" }}
						</h2>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_self">
							<input type="hidden" name="on0" value="Period">
							<input type="hidden" name="os0"	value="1 month">
							{{ range _range 24 }}
								{{ $months := plus (float .) 1 }}
								<input type="hidden" name="option_select{{ . }}" value="{{ $months }} month{{ if . }}s{{ end }}">
								<input type="hidden" name="custom" value="username={{ $global.User.Username }}">
								<input type="hidden" name="option_amount{{ . }}" value="{{ calculatePremiumPrice $months }}">
							{{ end }}
							<input type="hidden" name="on1" value="Akatsuki user to give premium:">
							<input type="hidden" name="amount" value="{{ calculatePremiumPrice 1 }}" id="paypal-amt">
							<div class="ui fluid labeled action input">
								<div class="ui label">
									{{ $.T "User:" }}
								</div>
								<input name="os1" type="text" placeholder="{{ $.T "User" }}" value="{{ $global.User.Username }}">
								<button type="submit" class="ui blue button">{{ $.T "Submit" }}</button>
							</div>
							{{ $ief }}
							<input type="hidden" name="business" value="cmyuisuki@gmail.com">
							<input type="hidden" name="cmd" value="_xclick">
							<input type="hidden" name="lc" value="GB">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="currency_code" value="EUR">
							<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
				<h4 class="ui horizontal divider header">
					{{ $.T "I've donated, now what?" }}
				</h4>
				<p>
				<center>
				{{ $.T "<b>You'll have to wait until we verify and process your payment. It can take up to <b>12 hours</b>. If 12 hours have passed and you still haven't received your Premium tag, contact <b>cmyui</b> in our <a href='https://discord.gg/5cBtMPW'>Discord server</a> or send an email to <b>cmyuiosu@gmail.com</b>" | html }}
				<br><br>
				{{ $.T "Disclaimer: Donations are <b>non-refundable</b>, and do not exempt users from the Akatsuki rules. You will still be treated equally to regular users, but maybe with a bit more love <3." | html}}
				</center>
			</p>
			{{ else }}
				<div class="ui divider"></div>
				<h1 class="ui center aligned header">{{ $.T "Please log in before purchasing premium." }}</h1>
			{{ end }}
		</div>
	</div>
{{ end }}