{{/* prettier-ignore-start */}}
{{/*###
Handler=/settings/clansettings
TitleBar=Clan Settings
Include=menu.html
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <div class="ui container">
    <div class="ui stackable grid">
      {{ template "settingsSidebar" . }}
      <div class="twelve wide column">
        <div class="ui segment">
          {{ $d := (qb "SELECT * FROM clans WHERE owner = ? LIMIT 1;" .Context.User.ID) }}
          {{ if $d }}
            <font size="6">Clan Settings</font>
            <br />
            <br />
            <div class="ui center aligned segment">
              {{ $tag := or $d.tag.String "" }}
              {{ $desc := or $d.description.String "" }}
              {{ $icon := or $d.icon.String "" }}
              {{ $bg := or $d.background.String "" }}
              {{ $status := or $d.status.Int 0 }}
              <form id="register-form" class="ui form">
                <div class="field">
                  <label class="left aligned">
                    Clan Tag (2 to 6 characters)
                  </label>
                  <input
                    tabindex="1"
                    type="text"
                    name="tag"
                    value="{{ $tag }}" />
                </div>
                <div class="field">
                  <label class="left aligned">Description (optional)</label>
                  <input
                    tabindex="2"
                    type="text"
                    name="desc"
                    placeholder="Description"
                    value="{{ $desc }}" />
                </div>
                <div class="field">
                  <label class="left aligned">
                    {{ "Icon [URL] (optional)" }}
                  </label>
                  <input
                    tabindex="3"
                    type="url"
                    name="icon"
                    placeholder="Icon"
                    value="{{ $icon }}" />
                </div>
                <div class="field">
                  <label class="left aligned">
                    Clan Status
                  </label>
                  <select class="ui dropdown" tabindex="4" name="status" data-cast="int">
                    <option value="0" {{ if eq $status 0 }}selected{{ end }}>Closed</option>
                    <option value="1" {{ if eq $status 1 }}selected{{ end }}>Open</option>
                    <option value="2" {{ if eq $status 2 }}selected{{ end }}>Invite Only</option>
                  </select>
                </div>
                {{ if has .Context.User.Privileges 8388612 }}
                  <div class="field">
                    <label class="left aligned">
                      {{ "Background [URL] (optional)" }}
                    </label>
                    <input
                      tabindex="5"
                      type="url"
                      name="bg"
                      placeholder="Background URL"
                      value="{{ $bg }}" />
                  </div>
                {{ end }}
                {{ ieForm .Gin }}
              </form>
              <br />
              <button
                tabindex="6"
                class="ui primary button"
                type="submit"
                form="register-form">
                {{ .T "Save" }}
              </button>
            </div>
            <br />
            <font size="6">Invite</font>
            <br />
            <br />
            <center>
              <div class="ui one item menu">
                {{ $inv := or $d.invite.String "No Invite" }}
                <input
                  id="invin"
                  class="item"
                  type="text"
                  value="{{ $inv }}"
                  style="background-color:rgba(0,0,0,.6)"
                  disabled />
              </div>
              <button id="ginvite" class="ui right green button">
                {{ .T "Generate a new invite!" }}
              </button>
              <br />
              <br />
              <br />
              {{ $members := (qb "SELECT COUNT(id)-1 AS c FROM users WHERE clan_id = ? LIMIT 1" $d.id.Int) }}
              <font size="6">Members: {{ $members.c }}</font>
              <br />
              {{ $ := . }}
              {{ range (.Get "clans/members?id=%d" $d.id.Int).clan.members }}
                {{ if ne (int .id) (int $.Context.User.ID) }}
                  <form id="kick-form" class="ui form">
                    <div class="column">
                      <div class="ui left aligned fluid card">
                        <div class="content">
                          <a href="/u/{{ .id }}">
                            <a class="header" href="/u/{{ .id }}">
                              {{ country .country false }}{{ .username }}
                            </a>
                            <button
                              name="member"
                              value="{{ .id }}"
                              class="ui right green button"
                              style="float:right; display:block; margin-right:0px; clear:left; width: 40%;">
                              Kick
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                {{ end }}
              {{ end }}
              <script>
                $("button[name = 'member']").on("click", function (e) {
                  e.preventDefault();
                  api(
                    "clans/kick",
                    { user: parseInt($(this).val()) },
                    function (t) {
                      window.location.reload();
                    },
                    !0
                  );
                });
              </script>
            </center>
          {{ else }}
            <font size="3">
              You haven't joined a clan yet, or you aren't the owner of your
              current one.
            </font>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
