{{/* prettier-ignore-start */}}
{{/*###
Handler=/settings/connections
TitleBar=Connections
BannerContent=settings2.jpg
BannerType=1
Include=menu.html
MinPrivileges=2
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <div class="ui container">
    <div class="ui stackable grid">
      {{ template "settingsSidebar" . }}
      <div class="twelve wide column">
        <div class="ui segment">
          {{ $q := qb "SELECT discord_account_id FROM users WHERE id = ? LIMIT 1" .Context.User.ID }}
          {{ if $q.discord_account_id }}
            <p>
              {{ .T "Your Discord account is already linked with us. If you wish to unlink your Discord, please use the button below." }}
            </p>
            <button id="unlink-discord" tabindex="1" class="ui blue button">
              <i class="fa-brands fa-discord"></i>
              {{ .T "Unlink Discord" }}
            </button>
          {{ else }}
            <p>
              <b>
                {{ .T "Link your Discord account" }}
              </b>
            </p>
            <p>
              {{ .T "Linking your Discord account will allow you to access extra features related to interacting in our Discord server. For example, linking your Discord account will allow you to automatically receive roles such as Akatsuki+ and Akatsuki Champion." }}
            </p>
            <p class="centered">
              <a
                tabindex="1"
                class="ui blue button"
                href="/link-discord">
                <i class="fa-brands fa-discord"></i>
                {{ .T "Link Discord" }}
              </a>
            </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#unlink-discord").click(function (e) {
        e.preventDefault();
        api(
          "users/self/connections/unlink-discord",
          {},
          function () {
            showMessage("success", "Your discord account has been unlinked.");
            setTimeout(() => { window.location.reload(); }, 1000);
          },
          true
        );
      });
    });
  </script>
{{ end }}
