{{/* prettier-ignore-start */}}
{{/*###
NoCompile=true
*/}}
{{/* prettier-ignore-end */}}
{{ define "settingsSidebar" }}
  {{ $is_clan_owner := or (qb "SELECT 1 FROM clans WHERE owner = ?" .Context.User.ID).clan_id.Int 0 }}
  {{ $can_userpage := qb "SELECT 1 FROM users WHERE id = ? AND userpage_allowed LIMIT 1" .Context.User.ID }}
  {{ $is_in_clan := qb "SELECT 1 FROM users WHERE id = ? AND clan_id <> 0" .Context.User.ID }}
  <div class="four wide column">
    <div class="ui fluid vertical menu">
      {{ navbarItem .Path (.T "Profile") "/settings" }}

      {{ if $can_userpage }}
        {{/* Admins can disallow users from editing their userpage */}}
        {{ navbarItem .Path (.T "Userpage") "/settings/userpage" }}
      {{ else }}
        {{ navbarItem .Path (.T "<p title='Your userpage privileges have been revoked by an Administrator.' style='color:#C0C0C0;'>Userpage</p>") "" | html }}
      {{ end }}

      {{ navbarItem .Path (.T "Avatar") "/settings/avatar" }}
      {{ navbarItem .Path (.T "Email & Password") "/settings/password" }}

      {{ if not $is_in_clan }}
        {{ navbarItem .Path (.T "Create a clan") "/clans/create" }}
      {{ end }}

      {{ if $is_clan_owner }}
        {{ navbarItem .Path (.T "Clan settings") "/settings/clansettings" }}
      {{ end }}

      {{ if has .Context.User.Privileges 4 }}
        {{ navbarItem .Path (.T "Edit username") "/settings/username" }}
        {{ navbarItem .Path (.T "Edit profile background") "/settings/profbackground" }}
      {{ end }}
    </div>
  </div>
{{ end }}
