{{/* prettier-ignore-start */}}
{{/*###
NoCompile=true
*/}}
{{/* prettier-ignore-end */}}
{{ define "settingsSidebar" }}
  {{ $d := or (qb "SELECT 1 FROM users WHERE clan_id = ? AND clan_privileges = 8" .Context.User.ID).clan_id.Int -1 }}
  {{ $can_userpage := qb "SELECT 1 FROM users WHERE id = ? AND userpage_allowed LIMIT 1" .Context.User.ID }}
  <div class="four wide column">
    <div class="ui fluid vertical menu">
      {{ navbarItem .Path (.T "Profile") "/settings" }}

      {{ if $can_userpage }}
        {{/* Admins can disallow users from editing their userpage */}}
        {{ navbarItem .Path (.T "Userpage") "/settings/userpage" }}
      {{ else }}
        {{ navbarItem .Path (.T "<p title='Your userpage privileges have been revoked by an Administrator.' style='color:#C0C0C0;'>Userpage</p>") "" | html }}
      {{ end }}

      {{ navbarItem .Path (.T "Avatar") "/settings/avatar" }}
      {{ navbarItem .Path (.T "Password") "/settings/password" }}

      {{ navbarItem .Path (.T "Create a clan") "/clans/create" }}

      {{ if $d }}
        {{/* Checks to see if user is an owns a clan. */}}
        {{ navbarItem .Path (.T "Clan settings") "/settings/clansettings" }}
      {{ else }}
        {{ navbarItem .Path (.T "<p title='Only the leader of the clan can access the settings page.' style='color:#C0C0C0;'>Clan Settings</p>") ""  | html }}
      {{ end }}

      {{ if has .Context.User.Privileges 4 }}
        {{ navbarItem .Path (.T "Edit username") "/settings/username" }}
        {{ navbarItem .Path (.T "Edit profile background") "/settings/profbackground" }}
      {{ end }}
    </div>
  </div>
{{ end }}
