{{/* prettier-ignore-start */}}
{{/*###
Handler=/settings/username
TitleBar=Change Username
BannerContent=settings2.jpg
BannerType=1
Include=menu.html
MinPrivileges=4
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.js
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <div class="ui container">
    <div class="ui stackable grid">
      {{ template "settingsSidebar" . }}
      <div class="twelve wide column">
        <div class="ui aligned segment">
          <h3 class="ui header">{{ .T "Username" }}</h3>
          {{ $u := qb "SELECT username FROM users WHERE id = ? LIMIT 1" .Context.User.ID }}
          {{ $n := or $u.username.String "" }}
          <form
            id="username-form"
            class="ui form"
            method="post"
            action="/settings/username">
            <div class="field">
              <label>
                {{ .T "Username (2 to 15 characters, alphanumeric, spaces, <code>_[]-</code>)" | html }}
              </label>
              <input
                tabindex="1"
                type="text"
                name="name"
                placeholder="{{ .T " Username" }}"
                value="{{ .FormData.username }}"
                required
                pattern="^[A-Za-z0-9 _\[\]-]{2,15}$" />
            </div>
            {{ ieForm .Gin }}
            <div class="ui divider"></div>
            <div class="ui right aligned">
              <button
                tabindex="2"
                class="ui primary button"
                type="submit"
                form="username-form">
                {{ .T "Save" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.css" />
{{ end }}
